﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    var moduleId = $.request("moduleId");
    $(function () {
        //gridList();
        $.support.cors = true;
        var oTable = new TableInit();
        oTable.Init();
    })
    var TableInit = function () {

        var oTableInit = new Object();

        /*初始化Table*/

        oTableInit.Init = function () {

            $('#gridList').dataGrid({
                height: $(window).height(),
                url: "@Url.Action("GetTreeGridJson", "ModuleButton")",//'/BaseData/ModuleButton/GetTreeGridJson',         //请求后台的URL（*）
                method: 'get',                      //请求方式（*）
                //toolbar: '#bstoolbar',                //工具按钮用哪个容器
                //striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: false,                   //是否显示分页（*）
                //sortable: true,                     //是否启用排序
                //sortOrder: "asc",                   //排序方式
                //传递参数（*）
                queryParams: { moduleId: moduleId },
                //showExport: true,                     //是否显示导出
                //exportDataType: "basic",              //basic', 'all', 'selected'.
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                       //初始化加载第一页，默认第一页
                pageSize: 10,                       //每页的记录行数（*）
                pageList: [10, 25],        //可供选择的每页的行数（*）
                //search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                //strictSearch: true,
                //showColumns: false,                  //是否显示所有的列
                //showRefresh: true,                  //是否显示刷新按钮
                //minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
                //height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "F_Id",                     //每一行的唯一标识，一般为主键列
                //showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
                //cardView: false,                    //是否显示详细视图
                //detailView: true,                   //是否显示父子表
                treeGrid: true,
                treeGridMainID: "F_Id",
                treeGridParentID: "F_ParentId",
                sortName: "",
                columns: [
                   { radio: true },
                   { title: "主键", field: "F_Id", align: "center", visible: false },
                   { title: "名称", field: "F_FullName", align: "left", width: "150" },
                   {
                       title: "位置", field: "F_Location", align: "center", width: "100",
                       formatter: function (value, row, index) {
                           if (value == 1)
                           { return "初始"; }
                           else
                           { return "选中"; }
                       }
                   },
                   { title: "事件", field: "F_JsEvent", align: "left", width: "150" },
                   { title: "连接", field: "F_UrlAddress", align: "left", width: "150" },
                   {
                       title: "分开", field: "F_Split", align: "center", width: "60",
                       formatter: function (value, row, index) {
                           if (value == true)
                           { return "<i class=\"fa fa-toggle-on\"></i>"; }
                           else
                           { return "<i class=\"fa fa-toggle-off\"></i>"; }
                       }
                   },
                   {
                       title: "公共", field: "F_IsPublic", align: "center", width: "60",
                       formatter: function (value, row, index) {
                           if (value == true)
                           { return "<i class=\"fa fa-toggle-on\"></i>"; }
                           else
                           { return "<i class=\"fa fa-toggle-off\"></i>"; }
                       }
                   },
                   {
                       title: "有效", field: "F_EnabledMark", align: "center", width: "60",
                       formatter: function (value, row, index) {
                           if (value == 1)
                           { return "<i class=\"fa fa-toggle-on\"></i>"; }
                           else
                           { return "<i class=\"fa fa-toggle-off\"></i>"; }
                       }
                   }
                ]
            });
        }
        return oTableInit;
    }
    function btn_add() {
        $.modalOpen({
            id: "Form",
            title: "新增按钮",
            url: "/SystemManage/ModuleButton/Form?moduleId=" + moduleId,
            width: "700px",
            height: "440px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_edit() {
        var keyValue = $.parseJSON(JSON.stringify($("#gridList").bootstrapTable('getSelections')))[0].F_Id;
        $.modalOpen({
            id: "Form",
            title: "修改按钮",
            url: "/SystemManage/ModuleButton/Form?moduleId=" + moduleId + "&keyValue=" + keyValue,
            width: "700px",
            height: "440px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_delete() {
        var keyValue = $.parseJSON(JSON.stringify($("#gridList").bootstrapTable('getSelections')))[0].F_Id;
        $.deleteForm({
            url: "/SystemManage/ModuleButton/DeleteForm",
            param: { keyValue: keyValue },
            success: function () {
                $("#gridList").resetSelection();
                $("#gridList").trigger("reloadGrid");
            }
        })
    }
    function btn_details() {
        var keyValue = $.parseJSON(JSON.stringify($("#gridList").bootstrapTable('getSelections')))[0].F_Id;
        $.modalOpen({
            id: "Details",
            title: "查看按钮",
            url: "/SystemManage/ModuleButton/Details?moduleId=" + moduleId + "&keyValue=" + keyValue,
            width: "700px",
            height: "490px",
            btn: null,
        });
    }
    function btn_clonebutton() {
        $.modalOpen({
            id: "CloneButton",
            title: "克隆按钮",
            url: "/SystemManage/ModuleButton/CloneButton?moduleId=" + moduleId,
            width: "400px",

            height: "600px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
</script>
<div class="topPanel" style="border: 0px;">
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;">
                        <span class="input-group-btn">
                            <button type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a class="btn btn-primary" onclick="btn_add()"><i class="fa fa-plus"></i>新建按钮</a>
        </div>
        <div class="btn-group">
            <a class="btn btn-primary" onclick="btn_clonebutton()"><i class="fa fa-paste"></i>克隆按钮</a>
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">已选中<span>1</span>项</li>
                <li><a onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>修改按钮</a></li>
                <li><a onclick="btn_delete()"><i class="fa fa-trash-o"></i>删除按钮</a></li>
                <li><a onclick="btn_details()"><i class="fa fa-search-plus"></i>查看按钮</a></li>
            </ul>
            <a href="javascript:;" class="close"></a>
        </div>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <style>
        .ui-jqgrid {
            border-left: 0px;
            border-right: 0px;
            border-bottom: 0px;
        }
    </style>
</div>
