@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "@Url.Action("GetFormJson", "DataSource")",//,
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                cache: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            });
        }
    });

    function initControl() {

    }
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "@Url.Content("~/ProductManage/DataSource/SubmitForm")?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                //$.currentWindow().$("#gridList").resetSelection();
                //$.currentWindow().$("#gridList").trigger("reloadGrid");
                $.currentWindow().$("#gridList").bootstrapTable('refresh');
                $.loading(false);
            }
        })
    }
</script>

<form id="form1">
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
            <tr>
<th class="formTitle" valign="top" style="padding-top: 5px; ">编码</th > 
<td class="formValue"><input id = "F_EnCode" name = "F_EnCode" maxlength = "20" type = "text" class="form-control required" placeholder="请输入" /></td>
</tr>
<tr>
<th class="formTitle" valign="top" style="padding-top: 5px; ">名称</th > 
<td class="formValue"><input id = "F_FullName" name = "F_FullName" maxlength = "20" type = "text" class="form-control required" placeholder="请输入" /></td>
</tr>
<tr>
<th class="formTitle" valign="top" style="padding-top: 5px; ">描述</th > 
<td class="formValue"><textarea id="F_Description" name="F_Description" maxlength="500" class="form - control" style="height: 60px; "></textarea></td>
</tr>
<tr>
<th class="formTitle" valign="top" style="padding-top: 5px; ">数据源类型(文件、数据库、MDCS)</th > 
<td class="formValue"><input id = "F_DataSourceType" name = "F_DataSourceType" maxlength = "20" type = "text" class="form-control required" placeholder="请输入" /></td>
</tr>
<tr>
<th class="formTitle" valign="top" style="padding-top: 5px; ">排序码</th > 
<td class="formValue"><input id = "F_SortCode" name = "F_SortCode" maxlength = "20" type = "text" class="form-control required" placeholder="请输入" /></td>
</tr>
<tr>
<th class="formTitle" valign="top" style="padding-top: 5px; ">有效标志</th > 
<td class="formValue"><input id = "F_EnabledMark" name = "F_EnabledMark" maxlength = "20" type = "text" class="form-control required" placeholder="请输入" /><label for="F_EnabledMark">有效</label></td>
</tr>

        </table>
    </div>
</form>
