﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <environment>
        <script src="~/js/vue/vue.min.js"></script>
        <script src="~/js/vue/axios.min.js"></script>
        <link href="~/js/element-UI/index.css" rel="stylesheet" />
        <script src="~/js/element-UI/index.js"></script>
        <script src="~/js/xlsx.full.min.js"></script>
        <script src="~/js/FileSaver.js"></script>
    </environment>
    <style>
        /*.el-input input{
            max-width:500px;
        }*/
  
        .el-form-item__content {
            max-width: 600px;
        }
    </style>
    <script>
        Vue.prototype._getUrlParam= function(name) {
                    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
                    var r = window.location.search.substr(1).match(reg); //匹配目标参数
                    if(r != null){
                        return decodeURIComponent(r[2]);
                        //这里为什么是从第三个字符解析呢？不知道这样理解对不对，因为路径后面的参数形式为参数名=参数值，而第一个字符为参数名，第二个为=，第三个就为参数值了。。。因为下面调用的时候得出的就是参数值
                    }
                    return null;//返回参数值
                };
        Vue.prototype._submitForm= function(option) {
                    var token=document.getElementsByName("__RequestVerificationToken")[0].value;
                    option.param['__RequestVerificationToken']=token;
                    axios(
                            {
                                method:"post",
                                url: option.url,
                                data: option.param,
                                transformRequest: [function (data) {
                                    let ret = ''
                                    for (let it in data) {
                                        ret += encodeURIComponent(it) + '=' + encodeURIComponent(data[it]) + '&'
                                    }
                                    return ret
                                    }],
                                headers:{
                                    'Content-Type': 'application/x-www-form-urlencoded'
                                },
                            }
                    ).then(function(resp)
                    {
                        option.success(resp);
                    });
                    };
    </script>
    <style>
        .el-dialog{display:flex;flex-direction:column;}
        .el-dialog .el-dialog__body {overflow:auto;}
    </style>
</head>

<body>
    @RenderBody()
    @Html.AntiForgeryToken()
</body>
</html>
