﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_VueForm.cshtml";
}
<div id='app'>
    <el-container>
    <el-header style="text-align:right;height:45px">
      <span style="float:left">
        <el-input v-model="keyword" placeholder="请输入" style="width:200px" clearable></el-input>
        <el-button icon="el-icon-search" circle v-on:click="refresh"></el-button>
      </span>
         <el-button icon="el-icon-plus" type="primary" circle v-on:click="addItem"></el-button>
         <el-button icon="el-icon-edit" type="success" circle v-on:click="editItem"></el-button>
         <el-button icon="el-icon-delete" type="danger" circle v-on:click="deleteItem"></el-button>
    </el-header>
    
    <el-main style="padding-bottom:5px;padding-top:5px">
        <el-table
            ref="singleTable"
            :data="tableData"
            :height="tableHeight"
            highlight-current-row
            v-on:current-change="handleCurrentChange"
            style="width: 100%;"
            v-loading="loading">
            <el-table-column type="index" width="50"></el-table-column>
            <el-table-column property="F_Account" label="EID" width="120"></el-table-column>
            <el-table-column property="F_RealName" label="姓名"  width="120" ></el-table-column>
            <el-table-column property="F_NickName" label="英文名" width="120"></el-table-column>
            <el-table-column property="F_MobilePhone" label="联系方式" width="120"></el-table-column>
            <el-table-column property="F_DepartmentId" label="部门" width="120">
                <template slot-scope="scope">
                    {{clientdata.organize[scope.row.F_DepartmentId] == null ? '' : clientdata.organize[scope.row.F_DepartmentId].fullname}}
                </template>
            </el-table-column>
            <el-table-column  label="职位" width="120">
                <template slot-scope="scope">
                    {{clientdata.duty[scope.row.F_DutyId] == null ? '' : clientdata.duty[scope.row.F_DutyId].fullname}}
                </template>
            </el-table-column>
            <el-table-column label="有效" width="60">
                <template slot-scope="scope">
                    <el-switch size="samll" v-model="scope.row.F_EnabledMark" disabled="disabled"></el-switch>
                </template>
            </el-table-column>
            <el-table-column property="F_CreatorTime" label="创建时间" width="200"></el-table-column>
            <el-table-column property="F_Description" label="备注"></el-table-column>
        </el-table>
        <el-pagination
            v-on:size-change="handlePageSizeChange"
            v-on:current-change="handlePageCurrentChange"
            :current-page="tablepage.currentPage"
            :page-sizes="tablepage.pagesizes"
            :page-size="tablepage.pagesize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="tablepage.pagetotal">
        </el-pagination>

        <el-dialog :title="formtitle" :visible.sync="dialogFormVisible" width="80%" :fullscreen="true" 
            v-loading="dialogloading" v-on:open="dialogloading=true" v-on:opened="formload">
                <el-form :model="user" label-width="100px" :rules="rules" ref="user"> 
                    <el-row :span="24">
                        <el-col :span="12">
                            <el-form-item label="账户" prop="F_Account">
                                <el-input v-model="user.F_Account" size="small" placeholder="请输入" />
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="密码" prop="F_UserPassword">
                                <el-input v-model="user.F_UserPassword" type="password" size="small" placeholder="请输入" :disabled="pwddisabled" />
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row :span="24">
                        <el-col :span="12">
                            <el-form-item label="公司" prop="F_OrganizeId">
                                <el-select v-model="user.F_OrganizeId" size="small">
                                    <el-option v-for="item in orglist" :key="item.id" :label="item.text" :value="item.id" ></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="部门" prop="F_DepartmentId">
                                <el-select v-model="user.F_DepartmentId" size="small">
                                    <el-option v-for="item in orglist" :key="item.id" :label="item.text" :value="item.id" ></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row :span="24">
                        <el-col :span="12">
                            <el-form-item label="角色" prop="F_RoleId">
                                <el-select v-model="user.F_RoleId" size="small">
                                    <el-option v-for="item in rolelist" :key="item.id" :label="item.text" :value="item.id" ></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="岗位" prop="F_DutyId">
                                <el-select v-model="user.F_DutyId" size="small">
                                    <el-option v-for="item in dutylist" :key="item.id" :label="item.text" :value="item.id" ></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row :span="24">
                        <el-col :span="12">
                            <el-form-item label="姓名" prop="F_RealName">
                                <el-input v-model="user.F_RealName" size="small" placeholder="请输入" />
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="性别" prop="F_Gender">
                                <el-select v-model="user.F_Gender" size="small">
                                    <el-option v-for="item in selectGender" :key="item.value" :label="item.text" :value="item.value" ></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row :span="24">
                        <el-col :span="12">
                            <el-form-item label="手机" prop="F_MobilePhone">
                                <el-input v-model="user.F_MobilePhone" size="small" placeholder="请输入" />
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="生日" prop="F_Birthday">
                                <el-date-picker
                                    v-model="user.F_Birthday"
                                    type="date"
                                    size="small"
                                    value-format="yyyy-MM-dd"
                                    placeholder="选择日期">
                                </el-date-picker>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row :span="24">
                        <el-col :span="12">
                            <el-form-item label="微信" prop="F_WeChat">
                                <el-input v-model="user.F_WeChat" size="small" placeholder="请输入" />
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="邮箱" prop="F_Email">
                                <el-input v-model="user.F_Email" size="small" placeholder="请输入" />
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row :span="24">
                        <el-col :span="12">
                            <el-form-item label="类型" prop="F_IsAdministrator">
                                <el-select v-model="user.F_IsAdministrator" size="small">
                                    <el-option v-for="item in selectIsAdmin" :key="item.value" :label="item.text" :value="item.value" ></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="允许登录" prop="F_EnabledMark">
                                <el-switch v-model="user.F_EnabledMark" size="small"></el-switch>
                            </el-form-item>
                        </el-col>
                    </el-row>
                     <el-row :span="24">
                         <el-form-item label="备注" prop="F_Description">
                          <el-input v-model="user.F_Description" size="small" placeholder="请输入" />
                          </el-form-item>
                     </el-row>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button v-on:click="dialogFormVisible = false">取 消</el-button>
                    <el-button type="primary" v-on:click="submitForm">确 定</el-button>
                </div>
        </el-dialog>
    </el-main>
  </el-container>



</div>
<script>
    var _clientdata = top.clients;
    var app=new Vue(
        {
            el: "#app",
            data:{
                //主页table相关
                keyword:"",
                tableHeight:600,
                tableData:[],
                tablepage:{
                    pagesizes:[10,20,30],
                    currentPage: 1,   //页码
                    pagesize: 10, //页面大小
                    pagetotal: 0, //记录总数
                    order:"asc",
                    sort: "F_Account asc,F_CreatorTime desc"
                },
                loading:true,
                //From相关
                formtitle:"",
                dialogFormVisible:false,
                keyValue:"",
                user:{
                    F_Account:"",
                    F_UserPassword:"",
                    F_OrganizeId:"",
                    F_DepartmentId:"",
                    F_RoleId:"",
                    F_DutyId:"",
                    F_RealName:"",
                    F_Gender:true,
                    F_MobilePhone:"",
                    F_Birthday:"",
                    F_WeChat:"",
                    F_Email:"",
                    F_IsAdministrator:false,
                    F_EnabledMark:true,
                    F_Description:"",
                },
                rules:{
                    F_Account:{ required: true, message: '请输入EID', trigger: 'blur' },
                    F_UserPassword:{ required: true, message: '请输入密码', trigger: 'blur' },
                    F_OrganizeId:{ required: true, message: '请输入公司', trigger: 'change' },
                    F_DepartmentId:{ required: true, message: '请选择部门', trigger: 'change' },
                    F_RoleId:{ required: true, message: '请选择角色', trigger: 'change' },
                    F_DutyId:{ required: true, message: '请选择岗位', trigger: 'change' },
                    F_RealName:{ required: true, message: '请输入名字', trigger: 'blur' },
                    F_Gender:{ required: true, message: '请选择性别', trigger: 'change' },
                    F_MobilePhone:{ required: false },
                    F_Birthday:{ required: false },
                    F_WeChat:{ required: false, },
                    F_Email:{ required: false, },
                    F_IsAdministrator: { required: true, message: '请选择类型', trigger: 'change' },
                    F_EnabledMark:{ required: true },
                    F_Description:{ required: false, },
                },
                selectGender:[
                    { value:true,text:"男" },
                    { value:false,text:"女" },
                ],
                selectIsAdmin:[
                    {value:false,text:"普通用户"},
                    {value:true,text:"系统管理员"},
                ],
                pwddisabled:false,
                orglist:[],
                deplist:[],
                rolelist:[],
                dutylist:[],
                dialogloading:true,
            },
            methods:{
                setCurrent(row) {
                    this.$refs.singleTable.setCurrentRow(row);
                },
                handleCurrentChange(val) {
                    this.currentRow = val;
                },
                refresh: function(){
                    this.loading=true;
                    axios.get(
                            "@Url.Action("GetGridJson", "User")",
                            {params:{
                                keyword:  this.keyword,
                                rows: this.tablepage.pagesize,   //页面大小
                                page: this.tablepage.currentPage, //页码
                                sord: this.tablepage.order,
                                sidx: this.tablepage.sort,
                            }}).then(function(resp)
                            {
                                app.tableData=resp.data.rows;
                                app.tablepage.currentPage=resp.data.pageNumber;
                                app.tablepage.pagetotal=resp.data.total;
                                app.loading=false;
                            });
                },
                handlePageCurrentChange: function(val){
                    this.tablepage.currentPage=val;
                    this.refresh();
                },
                handlePageSizeChange:function(val){
                    this.tablepage.pagesize=val
                    this.refresh();
                },
                addItem: function(){
                    this.formtitle="新增";
                    this.keyValue="";
                    this.pwddisabled=false;
                    this.dialogFormVisible=true;
                },
                editItem: function(){
                    if(!!this.currentRow)
                    {
                        this.formtitle="修改";
                        this.keyValue=this.currentRow.F_Id;
                        this.pwddisabled=true;
                        this.dialogFormVisible=true;
                    }
                },
                deleteItem: function(){
                    this.$confirm('确认删除？')
                        .then(_ => {
                            if(!!this.currentRow)
                            {   
                                this._submitForm({
                                    url:"@Url.Content("~/SystemManage/User/DeleteForm")?keyValue=" + this.currentRow.F_Id,
                                    param:{},
                                    success: function(resp){
                                        app.$message({
                                            message: '删除成功',
                                            type: 'success'
                                        });
                                        app.refresh();
                                    }
                                })
                            }
                        })
                        .catch(_ => {});
                },
                submitForm: function(){
                    this.$refs["user"].validate(function(valid){
                        if(valid)
                        {
                            app._submitForm({
                                url:"@Url.Content("~/SystemManage/User/SubmitForm")?keyValue=" + app.keyValue,
                                param:app.user,
                                success: function(resp){
                                    app.$message({
                                        message: '提交成功',
                                        type: 'success'
                                    });
                                    app.dialogFormVisible=false;
                                    app.refresh();
                                }
                            });
                        }
                        else
                        {
                            app.$message({
                                message: '请检查输入数据',
                                type: 'error'
                            });
                            return false;
                        }
                    });
                },
                loadselectlist: function()
                {

                     axios.get(
                                "@Url.Content("~/SystemManage/Organize/GetTreeSelectJson")",
                                {params:{
                                    
                                }}).then(function(resp)
                            {
                                app.orglist=resp.data;
                            });
                     axios.get(
                                "@Url.Content("~/SystemManage/Organize/GetTreeSelectJson")",
                                {params:{
                                    
                                }}).then(function(resp)
                            {
                                app.deplist=resp.data;
                            });
                     axios.get(
                                "@Url.Content("~/SystemManage/Role/GetSelectJson")",
                                {params:{
                                    
                                }}).then(function(resp)
                            {
                                app.rolelist=resp.data;
                            });
                    axios.get(
                                "@Url.Content("~/SystemManage/Duty/GetSelectJson")",
                                {params:{
                                    
                                }}).then(function(resp)
                            {
                                app.dutylist=resp.data;
                            });
                },
                formload: function() {
                    this.$refs["user"].resetFields();
                    this.loadselectlist();
                    if(!!this.keyValue)
                    {
                        axios.get(
                                "@Url.Content("~/SystemManage/User/GetFormJson")",
                                {params:{
                                    keyValue:this.keyValue,
                                }}).then(function(resp)
                            {
                                app.user=resp.data;
                                app.user.F_UserPassword="password";
                                app.dialogloading=false;
                            });
                    }else
                    {
                        this.dialogloading=false;
                    }
                },
            },
            created: function(){
                this.clientdata=_clientdata;
                this.refresh();
                this.tableHeight=document.documentElement.clientHeight-105;
            },
        }
    )
</script>


