﻿@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Form.cshtml";
}

@model  CPK.Domain.Entity.SystemManage.UserEntity;

<script>

    $(function () {
        $('.wrapper').height($(window).height() - 11);

       // $('#F_OrganizeId').val($('#hidF_OrganizeId').val());
      //  $('#F_DepartmentId').val($('#hidF_DepartmentId').val());
       // $('#F_RoleId').val($('#hidF_RoleId').val());
      //  $('#F_DutyId').val($('#hidF_DutyId').val());
    });
</script>
<div class="wrapper">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#a" data-toggle="tab">基本信息</a></li>
    </ul>
    <div class="tab-content" style="padding-top: 5px;">
        <div id="a" class="tab-pane active" style="padding: 15px;">
            <ul class="pop-list">
                <li>
                    <label>账户</label>
                    <input type="text" class="form-control" value="@Model.F_Account" />
                </li>
                <li>
                    <label>姓名</label>
                    <input type="text" class="form-control" value="@Model.F_RealName" />
                </li>
                <li>
                    <label>性别</label>
                    <input type="text" class="form-control"  value="@(Model.F_Gender == true?"男":"女")"/>
                </li>
                <li>
                    <label>出生</label>
                    <input type="text" class="form-control" value="@(Model.F_Birthday?.ToString("yyyy-MM-dd"))" />
                </li>
                <li>
                    <label>公司</label>
                   <input type="text" class="form-control" value="@(ViewBag.OrganizeName)" readonly="readonly"/>
                </li>
                <li>
                    <label>部门</label>
                    <input type="text" class="form-control" value="@(ViewBag.DepartmentName)" readonly="readonly" />
                </li>
                <li>
                    <label>角色</label>
                    <input type="text" class="form-control" value="@(ViewBag.RoleName)" readonly="readonly" />
                </li>
                <li>
                    <label>岗位</label>
                    <input type="text" class="form-control" value="@( ViewBag.Duty)" readonly="readonly"/>
                </li>
                <li>
                    <label>备注</label>
                    <textarea class="form-control" style="height: 60px;">@(Model.F_Description)</textarea>
                </li>
                <li class="line">
                    <h5><span>联系方式</span></h5>
                </li>
                <li>
                    <label>手机号码</label>
                    <input type="text" class="form-control" value="@(Model.F_MobilePhone)" />
                </li>
                <li>
                    <label>电子邮箱</label>
                    <input type="text" class="form-control"  value="@(Model.F_Email)"/>
                </li>
                <li>
                    <label>微信号</label>
                    <input type="text" class="form-control"  value="@(Model.F_WeChat)"/>
                </li>
            </ul>
        </div>
    </div>
</div>
