@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "@Url.Action("GetFormJson", "DataSource_File")",//,
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                cache: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            });
        }
    });

    function initControl() {

    }
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "@Url.Content("~/ProductManage/DataSource_File/SubmitForm")?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                //$.currentWindow().$("#gridList").resetSelection();
                //$.currentWindow().$("#gridList").trigger("reloadGrid");
                $.currentWindow().$("#gridList").bootstrapTable('refresh');
                $.loading(false);
            }
        })
    }
</script>

<form id="form1">
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
            <tr>
<th class="formTitle" valign="top" style="padding-top: 5px; ">类型(csv,excel)</th > 
<td class="formValue"><input id = "F_Type" name = "F_Type" maxlength = "20" type = "text" class="form-control required" placeholder="请输入" /></td>
</tr>
<tr>
<th class="formTitle" valign="top" style="padding-top: 5px; ">文件路径</th > 
<td class="formValue"><input id = "F_Path" name = "F_Path" maxlength = "20" type = "text" class="form-control required" placeholder="请输入" /></td>
</tr>
<tr>
<th class="formTitle" valign="top" style="padding-top: 5px; ">Sheet名称</th > 
<td class="formValue"><input id = "F_SheetName" name = "F_SheetName" maxlength = "20" type = "text" class="form-control required" placeholder="请输入" /></td>
</tr>
<tr>
<th class="formTitle" valign="top" style="padding-top: 5px; ">关键字段名称</th > 
<td class="formValue"><input id = "F_KeyField" name = "F_KeyField" maxlength = "20" type = "text" class="form-control required" placeholder="请输入" /></td>
</tr>
<tr>
<th class="formTitle" valign="top" style="padding-top: 5px; ">排序字段</th > 
<td class="formValue"><input id = "F_SortField" name = "F_SortField" maxlength = "20" type = "text" class="form-control required" placeholder="请输入" /></td>
</tr>
<tr>
<th class="formTitle" valign="top" style="padding-top: 5px; ">样本值字段</th > 
<td class="formValue"><input id = "F_ValueField" name = "F_ValueField" maxlength = "20" type = "text" class="form-control required" placeholder="请输入" /></td>
</tr>
<tr>
<th class="formTitle" valign="top" style="padding-top: 5px; ">时间字段</th > 
<td class="formValue"><input id = "F_TimeField" name = "F_TimeField" maxlength = "20" type = "text" class="form-control required" placeholder="请输入" /></td>
</tr>
<tr>
<th class="formTitle" valign="top" style="padding-top: 5px; ">标签字段，多个用逗号隔开</th > 
<td class="formValue"><input id = "F_TagFields" name = "F_TagFields" maxlength = "20" type = "text" class="form-control required" placeholder="请输入" /></td>
</tr>
<tr>
<th class="formTitle" valign="top" style="padding-top: 5px; ">有效标志</th > 
<td class="formValue"><input id = "F_EnabledMark" name = "F_EnabledMark" maxlength = "20" type = "text" class="form-control required" placeholder="请输入" /><label for="F_EnabledMark">有效</label></td>
</tr>

        </table>
    </div>
</form>
