﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPC</title>
    <environment>
        <link href="~/css/framework-font.css" rel="stylesheet" />
        <link href="~/css/framework-login.css" rel="stylesheet" />
        <script src="~/js/jquery/jquery-2.1.1.min.js"></script>
        <script src="~/js/cookie/jquery.cookie.js"></script>
        <script src="~/js/md5/jquery.md5.js"></script>
    </environment>
    <!--[if lte IE 8]>
        <div id="errorie"><div>您还在使用老掉牙的IE，正常使用系统前请升级您的浏览器到 IE8以上版本 <a target="_blank" href="http://windows.microsoft.com/zh-cn/internet-explorer/ie-8-worldwide-languages">点击升级</a>&nbsp;&nbsp;强烈建议您更改换浏览器：<a href="http://down.tech.sina.com.cn/content/40975.html" target="_blank">谷歌 Chrome</a></div></div>
    <![endif]-->
</head>
<body>
    @*<div style="position: absolute; z-index: 999; top: 20px; left: 20px; color: #fff; font-size: 13px; line-height: 22px;">
        在线体验，基于阿里巴巴云主机，采用独立运行环境，提供持续稳定安全服务，24小时均可以访问<br>
        用户名 admin 或 guest，密码 0000，请勿在系统内发表不文明信息
    </div>*@
    @*<div style="position: absolute;z-index: 999;left: 0px; top: 0px;height:100px;width:100%;background-color:#fff;background: linear-gradient(to bottom, #FFF 35%, #F3F3F3 65%);">
        <a href="@Url.Action("Index","Login")" style="position: absolute;left: 21px; top: 22px;">
            <img alt="logo" src="@Url.Content("~/img/Logo.png")" onerror="this.src = '@Url.Content("~/img/Logo.png")'; this.onerror = null" />
        </a>
        <a href="@Url.Action("Index","Login")" style="position: absolute;left: 21px; bottom: 20px; height: 22px; font-family: RPSEN-1,RPSCN-1,'Microsoft YaHei'; font-size: 20px; color: #404040; text-decoration: none;">
            Lite MES
        </a>
        <div style="position: absolute; left: 219px; top: 19px;">
            <img src="@Url.Content("~/img/header_line.png")" alt="" />
        </div>
    </div>*@
    @*<div class="wrapper">*@
    <div class="container">
        @*<div class="logo" style="align-content:center">
            <i class="fa fa-modx"></i>
            <h1>Lite <span>MES</span> </h1>
        </div>*@
        <form class="form">
            <div class="header" style="width:100%;height:60px">
                <img alt="logo" style="margin-left:14px;" src="@Url.Content("~/img/Logo.png")" onerror="this.src='@Url.Content("~/img/Logo.png")' ; this.onerror=null" />
                <a href="@Url.Action("Index","Login")" style="margin-left:14px;padding-left:14px;border-left:2px #B2B2B2 solid;font-family: RPSEN-1,RPSCN-1,'Microsoft YaHei'; font-size: x-large;font-weight:bold; color: #404040; text-decoration: none; vertical-align:top">
                    SPC
                </a>
            </div>
            <div class="row">
                <input id="txt_account" type="text" placeholder="用户名">
                <i class="fa fa-user"></i>
            </div>
            <div class="row">
                <input id="txt_password" type="password" placeholder="登录密码">
                <i class="fa fa-key"></i>
            </div>
            @*<div class="row">
                <input id="txt_code" maxlength="4" type="text" placeholder="验证码" style="width: 190px; float: left;">
                <div style="width: 110px; float: right; padding-top: 14px; padding-left: 14px;">
                    看不清？<a id="switchCode" href="javascript:void(0);" style="text-decoration: none;">换一张</a>
                    <img id="imgcode" class="authcode" src="~/Login/GetAuthCode" width="80" height="25" />
                </div>
            </div>*@
            <div class="row">
            </div>
            <div class="row" style="margin-top:20px">
                <button id="login_button" type="button"><span>登录</span></button>
            </div>
            <!-- <div class="row" style="margin-top:10px">
            <button type="button" style="background-color:orange" onclick="$('#txt_account').val('guest'); $('#txt_password').val('guest'); $('#login_button').click();"><span>访客</span></button>
        </div>
        <div class="row">
        </div> -->
        </form>
        <div class="login_tips"></div>
    </div>
        @*<ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>*@
    @*</div>*@
    <div class="copyright">
       适用浏览器：IE8以上、360、FireFox、Chrome、Safari、Opera、傲游、搜狗、世界之窗.
    </div>
    <script type="text/javascript">
    (function ($) {
        $.login = {
            formMessage: function (msg) {
                $('.login_tips').find('.tips_msg').remove();
                $('.login_tips').append('<div class="tips_msg"><i class="fa fa-question-circle"></i>' + msg + '</div>');
            },
            loginClick: function () {
                var $username = $("#txt_account");
                var $password = $("#txt_password");
                //var $code = $("#txt_code");
                if ($username.val() == "") {
                    $username.focus();
                    $.login.formMessage('请输入用户名。');
                    return false;
                } else if ($password.val() == "") {
                    $password.focus();
                    $.login.formMessage('请输入登录密码。');
                    return false;
                }
                    //else if ($code.val() == "") {
                    //    $code.focus();
                    //    $.login.formMessage('请输入验证码。');
                    //    return false;
                    //}
                else {
                    $("#login_button").attr('disabled', 'disabled').find('span').html("loading...");
                    $.ajax({
                        url: '@Url.Action("CheckLogin", "Login")',//"~/Login/CheckLogin",
                            //data: { username: $.trim($username.val()), password: $.md5($.trim($password.val())), code: $.trim($code.val()) },
                            data: { username: $.trim($username.val()), password: $.md5($.trim($password.val())),code:"" },
                            type: "post",
                            dataType: "json",
                            success: function (data) {
                                if (data.state == "success") {
                                    $("#login_button").find('span').html("登录成功，正在跳转...");
                                    window.setTimeout(function () {
                                        window.location.href =  "@Url.Content("~/Home/Index")";
                                    }, 500);
                                } else {
                                    $("#login_button").removeAttr('disabled').find('span').html("登录");
                                    //$("#switchCode").trigger("click");
                                    //$code.val('');
                                    $.login.formMessage(data.message);
                                }
                            }
                        });
                    }
                },
                init: function () {
                    $('.wrapper').height($(window).height());
                    $(".container").css("margin-top", ($(window).height() - $(".container").height()) / 2 - 50);
                    $(window).resize(function (e) {
                        $('.wrapper').height($(window).height());
                        $(".container").css("margin-top", ($(window).height() - $(".container").height()) / 2 - 50);
                    });
                    //$("#switchCode").click(function () {
                    //    $("#imgcode").attr("src", "/Login/GetAuthCode?time=" + Math.random());
                    //});
                    var login_error = top.$.cookie('PMS_login_error');
                    if (login_error != null) {
                        switch (login_error) {
                            case "overdue":
                                $.login.formMessage("系统登录已超时,请重新登录");
                                break;
                            case "OnLine":
                                $.login.formMessage("您的帐号已在其它地方登录,请重新登录");
                                break;
                            case "-1":
                                $.login.formMessage("系统未知错误,请重新登录");
                                break;
                        }
                        top.$.cookie('PMS_login_error', '', { path: "/", expires: -1 });
                    }
                    $("#login_button").click(function () {
                        $.login.loginClick();
                    });
                    document.onkeydown = function (e) {
                        if (!e) e = window.event;
                        if ((e.keyCode || e.which) == 13) {
                            document.getElementById("login_button").focus();
                            document.getElementById("login_button").click();
                        }
                    }
                }
            };
            $(function () {
                $.login.init();
            });
        })(jQuery);
    </script>
</body>
</html>
