﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    $(function () {
        $.support.cors = true;
        var oTable = new TableInit();
        oTable.Init();
    
    })

    var TableInit = function () {

        var oTableInit = new Object();

        /*初始化Table*/

        oTableInit.Init = function () {

            $('#gridList').dataGrid({
                height: $(window).height() - 90,
                url:  "@Url.Action("GetTreeGridJson", "Organize")",//'/BaseData/Module/GetTreeGridJson',         //请求后台的URL（*）
                method: 'get',                      //请求方式（*）
                //toolbar: '#bstoolbar',                //工具按钮用哪个容器
                //striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: false,                   //是否显示分页（*）
                //sortable: true,                     //是否启用排序
                //sortOrder: "asc",                   //排序方式
                //传递参数（*）
                queryParams: function (params) { return { keyword: $("#txt_keyword").val() }; },
                //showExport: true,                     //是否显示导出
                //exportDataType: "basic",              //basic', 'all', 'selected'.
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                       //初始化加载第一页，默认第一页
                pageSize: 10,                       //每页的记录行数（*）
                pageList: [10, 25],        //可供选择的每页的行数（*）
                //search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                //strictSearch: true,
                //showColumns: false,                  //是否显示所有的列
                //showRefresh: true,                  //是否显示刷新按钮
                //minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
                //height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "F_Id",                     //每一行的唯一标识，一般为主键列
                //showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
                //cardView: false,                    //是否显示详细视图
                //detailView: true,                   //是否显示父子表
                treeGrid: true,
                treeGridMainID: "F_Id",
                treeGridParentID: "F_ParentId",
                sortName: "",
                columns: [
                   { radio: true },
                   { title: "主键", field: "F_Id", align: "center", visible: false },
                    { title: '名称', field: 'F_FullName', width: 200, align: 'left' },
                    { title: '编号', field: 'F_EnCode', width: 150, align: 'left' },
                    {
                        title: '分类', field: 'F_CategoryId', width: 80, align: 'left',
                        formatter: function (cellvalue) {
                            if (cellvalue == "Group") {
                                return "集团";
                            } else if (cellvalue == "Company") {
                                return "公司";
                            } else if (cellvalue == "Department") {
                                return "部门";
                            } else if (cellvalue == "WorkGroup") {
                                return "小组";
                            }
                        }
                    },
                    {
                        title: '创建时间', field: 'F_CreatorTime', width: 80, align: 'left',
                        formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
                    },
                    {
                        title: "有效", field: "F_EnabledMark", width: 60, align: "center",
                        formatter: function (cellvalue) {
                            return cellvalue == 1 ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                        }
                    },
                    { title: '备注', field: 'F_Description', width: 300, align: 'left' }
                ]
            });
            $("#btn_search").click(function () {
                $.currentWindow().$("#gridList").bootstrapTable('refresh');
            });
        }
        return oTableInit;
    }
   
    function btn_add() {
        $.modalOpen({
            id: "Form",
            title: "新增机构",
            url: "/SystemManage/Organize/Form",
            width: "700px",
            height: "520px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_edit() {
        var keyValue = $("#gridList").bootstrapTable('getSelections')[0].F_Id;
        $.modalOpen({
            id: "Form",
            title: "修改机构",
            url: "/SystemManage/Organize/Form?keyValue=" + keyValue,
            width: "700px",
            height: "520px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_delete() {
        $.deleteForm({
            url: "/SystemManage/Organize/DeleteForm",
            param: { keyValue: $("#gridList").bootstrapTable('getSelections')[0].F_Id },
            success: function () {
                $.currentWindow().$("#gridList").bootstrapTable('refresh');
                $.loading(false);
            }
        })
    }
    function btn_details() {
        var keyValue = $("#gridList").bootstrapTable('getSelections')[0].F_Id;
        $.modalOpen({
            id: "Details",
            title: "查看机构",
            url: "/SystemManage/Organize/Details?keyValue=" + keyValue,
            width: "700px",
            height: "560px",
            btn: null,
        });
    }
</script>

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="NF-add" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>新建机构</a>
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">已选中<span>1</span>项</li>
                <li><a id="NF-edit" authorize="yes" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>修改机构</a></li>
                <li><a id="NF-delete" authorize="yes" onclick="btn_delete()"><i class="fa fa-trash-o"></i>删除机构</a></li>
                <li><a id="NF-Details" authorize="yes" onclick="btn_details()"><i class="fa fa-search-plus"></i>查看机构</a></li>
            </ul>
            <a href="javascript:;" class="close"></a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
</div>
