@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "@Url.Action("GetFormJson", "Chart_Parameters_CPK")",//,
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                cache: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            });
        }
    });

    function initControl() {

    }
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "@Url.Content("~/ProductManage/Chart_Parameters_CPK/SubmitForm")?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                //$.currentWindow().$("#gridList").resetSelection();
                //$.currentWindow().$("#gridList").trigger("reloadGrid");
                $.currentWindow().$("#gridList").bootstrapTable('refresh');
                $.loading(false);
            }
        })
    }
</script>

<form id="form1">
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
            <tr>
<th class="formTitle" valign="top" style="padding-top: 5px; ">编码</th > 
<td class="formValue"><input id = "F_ChartId" name = "F_ChartId" maxlength = "20" type = "text" class="form-control required" placeholder="请输入" /></td>
</tr>
<tr>
<th class="formTitle" valign="top" style="padding-top: 5px; ">警告范围最小值</th > 
<td class="formValue"><input id = "F_WarnMin" name = "F_WarnMin" maxlength = "20" type = "text" class="form-control required" placeholder="请输入" /></td>
</tr>
<tr>
<th class="formTitle" valign="top" style="padding-top: 5px; ">警告范围最大值</th > 
<td class="formValue"><input id = "F_WarnMax" name = "F_WarnMax" maxlength = "20" type = "text" class="form-control required" placeholder="请输入" /></td>
</tr>
<tr>
<th class="formTitle" valign="top" style="padding-top: 5px; ">报警范围最小值</th > 
<td class="formValue"><input id = "F_FailMin" name = "F_FailMin" maxlength = "20" type = "text" class="form-control required" placeholder="请输入" /></td>
</tr>
<tr>
<th class="formTitle" valign="top" style="padding-top: 5px; ">报警范围最大值</th > 
<td class="formValue"><input id = "F_FailMax" name = "F_FailMax" maxlength = "20" type = "text" class="form-control required" placeholder="请输入" /></td>
</tr>
<tr>
<th class="formTitle" valign="top" style="padding-top: 5px; ">排序码</th > 
<td class="formValue"><input id = "F_SortCode" name = "F_SortCode" maxlength = "20" type = "text" class="form-control required" placeholder="请输入" /></td>
</tr>
<tr>
<th class="formTitle" valign="top" style="padding-top: 5px; ">豁免周期(天)1</th > 
<td class="formValue"><input id = "F_ExemptionDay" name = "F_ExemptionDay" maxlength = "20" type = "text" class="form-control required" placeholder="请输入" /></td>
</tr>
<tr>
<th class="formTitle" valign="top" style="padding-top: 5px; ">有效标志</th > 
<td class="formValue"><input id = "F_EnabledMark" name = "F_EnabledMark" maxlength = "20" type = "text" class="form-control required" placeholder="请输入" /><label for="F_EnabledMark">有效</label></td>
</tr>

        </table>
    </div>
</form>
