@using Microsoft.AspNetCore.Mvc.Localization
@using CPK.Code;
@inject IViewLocalizer Localizer
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_VueForm.cshtml";
}
<div id='app'>
    <el-container>
        <el-header style="text-align:right;height:45px">
            <span style="float:left">
                <el-input v-model="keyword" placeholder="@Localizer["PleaseInput"]" style="width:200px" clearable></el-input>
                <el-button icon="el-icon-search" circle v-on:click="refresh"></el-button>
            </span>
            <el-button icon="el-icon-view" type="info" circle v-on:click="showpreview"></el-button>
            <el-button icon="el-icon-download" type="primary" circle v-on:click="exportExcel"></el-button>
            <el-button icon="el-icon-plus" type="primary" circle v-on:click="addItem"></el-button>
            <el-button icon="el-icon-edit" type="success" circle v-on:click="editItem"></el-button>
            <el-button icon="el-icon-delete" type="danger" circle v-on:click="deleteItem"></el-button>
        </el-header>
    
    <el-main style="padding-bottom:5px;padding-top:5px">
        <el-table
              id="charttable"
            ref="singleTable"
            :data="tableData"
            :height="tableHeight"
            highlight-current-row
            v-on:current-change="handleCurrentChange"
            style="width: 100%;"
            v-loading="loading">
            <el-table-column property="F_EnCode" label="@Localizer["EnCode"]"  width="200" ></el-table-column>
            <el-table-column property="F_FullName" label="@Localizer["Name"]" width="200"></el-table-column>
            @*<el-table-column property="F_Description" label="@Localizer["Name"]"></el-table-column>*@
            <el-table-column property="DataSource" label="@Localizer["Name"]" width="100" :show-overflow-tooltip="true"></el-table-column>
            <el-table-column property="F_Frequency" label="@Localizer["Frequency"]" width="100"></el-table-column>
            <el-table-column property="F_FrequencyType" label="@Localizer["FrequencyType"]" width="150">
                <template slot-scope="scope">
                    {{getFrequencyType(scope.row.F_FrequencyType)}}
                </template>
            </el-table-column>
            <el-table-column property="F_LastLoadTime" label="@Localizer["LastLoadTime"]" width="150"></el-table-column>
            <el-table-column property="F_SortCode" label="@Localizer["SortCode"]" width="100"></el-table-column>
            <el-table-column property="F_EnabledMark" label="@Localizer["Enabled"]" width="100">
                <template slot-scope="scope">
                    <el-switch size="samll" v-model="scope.row.F_EnabledMark" disabled="disabled"></el-switch>
                </template>
            </el-table-column>
            <el-table-column property="F_CreatorTime" label="@Localizer["CreatedTime"]" width="200"></el-table-column>
            <el-table-column property="F_CreatorUserName" label="@Localizer["Creator"]" width="100"></el-table-column>

        </el-table>

        <el-dialog :title="formtitle" :visible.sync="dialogFormVisible" :fullscreen="true"
        v-loading="dialogloading" v-on:open="dialogloading=true" v-on:opened="formload" >
            <el-tabs type="border-card" style="overflow-y:auto">
                <el-tab-pane label="@Localizer["BaseData"]">
                    <el-form :model="chart" label-width="150px" ref="chart" :rules="rules.chart"> 
                        <el-form-item label="@Localizer["EnCode"]" prop="F_EnCode">
                            <el-input v-model="chart.F_EnCode" size="small" placeholder="@Localizer["PleaseInput"]" />
                        </el-form-item>
                        <el-form-item label="@Localizer["Name"]" prop="F_FullName">
                            <el-input v-model="chart.F_FullName" size="small" placeholder="@Localizer["PleaseInput"]" />
                        </el-form-item>
                        <el-form-item label='@Localizer["DirtyRead"]' prop="F_DirtyRead">
                            <el-input v-model="chart.F_DirtyRead" size="small" placeholder="@Localizer["PleaseInput"]" />
                        </el-form-item>
                        <el-form-item label="@Localizer["Description"]" prop="F_Description">
                            <el-input v-model="chart.F_Description" size="small" placeholder="@Localizer["PleaseInput"]" />
                        </el-form-item>
                        <el-form-item label="@Localizer["DataSource"]" prop="F_DataSourceId">
                            <el-select size="small" v-model="chart.F_DataSourceId" style="width:100%">
                                <el-option v-for="item in datasourcelist" :key="item.F_Id" :label="item.Name" :value="item.F_Id" ></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="@Localizer["RPSLine"]" prop="F_RPSLineId">
                            <el-select size="small" v-model="chart.F_RPSLineId" filterable>
                                <el-option v-for="item in rpslinelist" :key="item.idLine" :label="item.lineText" :value="item.idLine" ></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="@Localizer["FrequencyType"]"  prop="F_FrequencyType">
                            <el-select size="small" v-model="chart.F_FrequencyType" >
                                <el-option v-for="item in frequencytypelist" :key="item.value" :label="item.text" :value="item.value" ></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="@Localizer["Frequency"]" prop="F_Frequency">
                            <el-input v-model="chart.F_Frequency" size="small" placeholder="@Localizer["PleaseInput"]" />
                        </el-form-item>
                        <template>
                            <el-form-item :label="'@Localizer["LastLoadTime"]'" prop="F_LastLoadTime"  v-if="!!keyValue">
                                <el-input v-model="chart.F_LastLoadTime" size="small" placeholder="@Localizer["PleaseInput"]" :disabled="true"/>         
                            </el-form-item>
                            <el-form-item :label="'@Localizer["StartTime"]'" prop="F_LastLoadTime"  v-if="!keyValue">
                                <el-date-picker
                                        v-model="chart.F_LastLoadTime"
                                        type="datetime"
                                        size="small"
                                        value-format="yyyy-MM-dd HH:mm:ss"
                                        placeholder="@Localizer["StartTime"]"
                                        >
                                    </el-date-picker>
                            </el-form-item>
                        </template>
                        <el-form-item label="@Localizer["SortCode"]" prop="F_SortCode">
                            <el-input v-model="chart.F_SortCode" size="small" placeholder="@Localizer["PleaseInput"]" />
                        </el-form-item>
                        <el-form-item label="@Localizer["Enabled"]" prop="F_EnabledMark">
                            <el-switch size="small" v-model="chart.F_EnabledMark">@Localizer["Enabled"]</el-switch>
                        </el-form-item>
                    </el-form>
                </el-tab-pane>
                <el-tab-pane label="SPC">
                    <el-form :model="spc" label-width="150px" ref="spc" :rules="rules.spc"> 
                        <el-form-item label="@Localizer["GroupType"]" prop="F_GroupType">
                            <el-select size="small" v-model="spc.F_GroupType" v-on:change="changegrouptype" >
                                <el-option v-for="item in grouptypelist" :key="item.value" :label="item.text" :value="item.value" ></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="@Localizer["GroupNum"]" prop="F_GroupNum">
                            <el-input v-model="spc.F_GroupNum" size="small" placeholder="@Localizer["PleaseInput"]" />
                        </el-form-item>
                        <el-form-item :label="labsplit" v-show="spc.F_GroupType>0" prop="F_GroupSplit">
                            <el-input v-model="spc.F_GroupSplit" size="small" placeholder="@Localizer["PleaseInput"]" />
                        </el-form-item>
                        <el-form-item label="X Bar Chart" prop="F_XAutoCL">
                            <el-switch size="small" v-model="spc.F_XAutoCL">@Localizer["AutoCal"]</el-switch>
                        </el-form-item>
                        <el-form-item label="LCL" v-show="!spc.F_XAutoCL" prop="F_XLCL">
                            <el-input v-model="spc.F_XLCL" size="small" placeholder="@Localizer["PleaseInput"]" />
                        </el-form-item>
                         <el-form-item label="CL" v-show="!spc.F_XAutoCL" prop="F_XCL">
                            <el-input v-model="spc.F_XCL" size="small" placeholder="@Localizer["PleaseInput"]" />
                        </el-form-item>
                        <el-form-item label="UCL" v-show="!spc.F_XAutoCL" prop="F_XUCL">
                            <el-input v-model="spc.F_XUCL" size="small" placeholder="@Localizer["PleaseInput"]" />
                        </el-form-item>
                        <el-form-item label="R Chart" prop="F_RAutoCL">
                            <el-switch size="small" v-model="spc.F_RAutoCL">@Localizer["AutoCal"]</el-switch>
                        </el-form-item>
                        <el-form-item label="LCL" v-show="!spc.F_RAutoCL" prop="F_RLCL">
                            <el-input v-model="spc.F_RLCL" size="small" placeholder="@Localizer["PleaseInput"]" />
                        </el-form-item>
                         <el-form-item label="CL" v-show="!spc.F_RAutoCL" prop="F_RCL">
                            <el-input v-model="spc.F_RCL" size="small" placeholder="@Localizer["PleaseInput"]" />
                        </el-form-item>
                        <el-form-item label="UCL" v-show="!spc.F_RAutoCL" prop="F_RUCL">
                            <el-input v-model="spc.F_RUCL" size="small" placeholder="@Localizer["PleaseInput"]" />
                        </el-form-item>
                        <el-form-item label="@Localizer["Rule1"]" prop="F_Rule1">
                            <el-checkbox v-model="spc.F_Rule1">@Localizer["Rule1Content"]</el-checkbox>
                        </el-form-item>
                        <el-form-item label="@Localizer["Rule2"]" prop="F_Rule2">
                            <el-checkbox v-model="spc.F_Rule2">@Localizer["Rule2Content"]</el-checkbox>
                        </el-form-item>
                        <el-form-item label="@Localizer["Rule3"]" prop="F_Rule3">
                            <el-checkbox v-model="spc.F_Rule3">@Localizer["Rule3Content"]</el-checkbox>
                        </el-form-item>
                        <el-form-item label="@Localizer["Rule4"]" prop="F_Rule4">
                            <el-checkbox v-model="spc.F_Rule4">@Localizer["Rule4Content"]</el-checkbox>
                        </el-form-item>
                        <el-form-item label="@Localizer["Rule5"]" prop="F_Rule5">
                            <el-checkbox v-model="spc.F_Rule5">@Localizer["Rule5Content"]</el-checkbox>
                        </el-form-item>
                        <el-form-item label="@Localizer["Rule6"]" prop="F_Rule6">
                            <el-checkbox v-model="spc.F_Rule6">@Localizer["Rule6Content"]</el-checkbox>
                        </el-form-item>
                        <el-form-item label="@Localizer["Rule7"]" prop="F_Rule7">
                            <el-checkbox v-model="spc.F_Rule7">@Localizer["Rule7Content"]</el-checkbox>
                        </el-form-item>
                        <el-form-item label="@Localizer["Rule8"]" prop="F_Rule8">
                            <el-checkbox v-model="spc.F_Rule8">@Localizer["Rule8Content"]</el-checkbox>
                        </el-form-item>
                        <el-form-item label="@Localizer["ExemptionDay"]"  prop="F_ExemptionDay">
                            <el-input v-model="spc.F_ExemptionDay" size="small" placeholder="@Localizer["PleaseInput"]" />
                        </el-form-item>
                    </el-form>
                </el-tab-pane>
                <el-tab-pane label="CPK">
                    <el-form :model="cpk" label-width="125px" ref="cpk" :rules="rules.cpk">
                        <el-form-item label="LSL" prop="F_LSL">
                            <el-input v-model="cpk.F_LSL" size="small" placeholder="@Localizer["PleaseInput"]" />
                        </el-form-item>
                        <el-form-item label="USL" prop="F_USL">
                            <el-input v-model="cpk.F_USL" size="small" placeholder="@Localizer["PleaseInput"]" />
                        </el-form-item>
                        <el-form-item label="@Localizer["WarnMin"]" prop="F_WarnMin">
                            <el-input v-model="cpk.F_WarnMin" size="small" placeholder="@Localizer["PleaseInput"]" />
                        </el-form-item>
                        <el-form-item label="@Localizer["WarnMax"]" prop="F_WarnMax">
                            <el-input v-model="cpk.F_WarnMax" size="small" placeholder="@Localizer["PleaseInput"]" />
                        </el-form-item>
                        <el-form-item label="@Localizer["FailMin"]" prop="F_FailMin">
                            <el-input v-model="cpk.F_FailMin" size="small" placeholder="@Localizer["PleaseInput"]" />
                        </el-form-item>
                        <el-form-item label="@Localizer["FailMax"]" prop="F_FailMax">
                            <el-input v-model="cpk.F_FailMax" size="small" placeholder="@Localizer["PleaseInput"]" />
                        </el-form-item>
                        <el-form-item label="@Localizer["ExemptionDay"]" prop="F_ExemptionDay">
                            <el-input v-model="cpk.F_ExemptionDay" size="small" placeholder="@Localizer["PleaseInput"]" />
                        </el-form-item>
                        <el-form-item label="@Localizer["TakeFrequency"]" prop="F_ExemptionDay">
                            <el-input v-model="cpk.F_Frequency" size="small" placeholder="@Localizer["PleaseInput"]" />
                        </el-form-item>
                    </el-form>
                </el-tab-pane>
            </el-tabs>
                <div slot="footer" class="dialog-footer">
                    <el-button v-on:click="dialogFormVisible = false">@Localizer["Cancel"]</el-button>
                    <el-button type="primary" v-on:click="submitForm">@Localizer["OK"]</el-button>
                </div>
        </el-dialog>
        <el-dialog :title="formtitle" ref="dialog" :visible.sync="dialogPreviewVisible" :fullscreen="true"> 
            <iframe :src="previewurl" width="100%"  :height="pageheight" style="border:0px" onload="this.style.height=Math.max(this.contentWindow.document.body.scrollHeight,this.contentWindow.document.documentElement.scrollHeight,200)+'px';"></iframe>
        </el-dialog>
    </el-main>
  </el-container>



</div>
<script>
    var that = this;
    var app=new Vue(
        {
            el: "#app",
            data:{
                pageheight:600,
                keyword:"",
                tableHeight:600,
                tableData:[],
                loading:true,
                formtitle:"",
                dialogFormVisible:false,
                keyValue:"",
                chart:{
                   F_EnCode:"",
                   F_FullName:"",
                   F_DirtyRead:"",
                   F_Description:"",
                   F_DataSourceId:"",
                   F_FrequencyType:"",
                   F_Frequency:"",
                   F_LastLoadTime:new Date(),
                   F_SortCode:"",
                   F_EnabledMark:true,
                   F_RPSLineId:"",
                },
                spc:{
                   F_ChartId:"",
                   F_GroupType:0,
                   F_GroupNum:0,
                   F_GroupSplit:0,
                   F_XAutoCL:true,
                   F_XLCL:"",
                   F_XCL:"",
                   F_XUCL:"",
                   F_RAutoCL:true,
                   F_RLCL:"",
                   F_RCL:"",
                   F_RUCL:"",
                   F_Rule1:true,
                   F_Rule2:true,
                   F_Rule3:true,
                   F_Rule4:false,
                   F_Rule5:false,
                   F_Rule6:false,
                   F_Rule7:false,
                   F_Rule8:false,
                   F_ExemptionDay:7,
                },
                cpk:{
                    F_ChartId:"",
                    F_LSL:0,
                    F_USL:0,
                    F_WarnMin:0,
                    F_WarnMax:0,
                    F_FailMin:0,
                    F_FailMax:0,
                    F_ExemptionDay:7,
                },
                datasourcelist:[],
                rpslinelist:[],
                frequencytypelist:[
                    {value:"S",text:"@Localizer["Second"]"},
                    {value:"MI",text:"@Localizer["Minute"]"},
                    {value:"H",text:"@Localizer["Hour"]"},
                    {value:"D",text:"@Localizer["Day"]"},
                    {value:"W",text:"@Localizer["Week"]"},
                    {value:"M",text:"@Localizer["Month"]"},
                    {value:"Y",text:"@Localizer["Year"]"},
                ],
                rules:{
                    chart:{
                            F_EnCode:{ required: true, message: '@Localizer["PleaseInput"] @Localizer["EnCode"]', trigger: 'blur' },
                            F_FullName:{ required: true, message: '@Localizer["PleaseInput"] @Localizer["Name"]', trigger: 'blur' },
                            F_DirtyRead: {required: false},
                            F_Description: { required: false, },
                            F_DataSourceId: { required: true, message: '@Localizer["PleaseSelect"] @Localizer["DataSource"]', trigger: 'change' },
                            F_FrequencyType: { required: true, message: '@Localizer["PleaseSelect"] @Localizer["FrequencyType"]', trigger: 'blur' },
                            F_Frequency: { required: true, message: '@Localizer["PleaseInput"] @Localizer["Frequency"]', trigger: 'blur' },
                            F_LastLoadTime: { required: true, message: '@Localizer["PleaseSelect"] @Localizer["StartTime"]', trigger: 'change' },
                            F_SortCode:{ required: false, },
                            F_EnabledMark: { required: true },
                            F_RPSLineId: { required: true, message: '@Localizer["PleaseSelect"] @Localizer["RPSLine"]', trigger: 'change' },
                        },
                        spc:{
                            F_GroupType:{ required: true, message: '@Localizer["PleaseInput"] @Localizer["GroupNum"]', trigger: 'blur' },
                            F_GroupNum:{ required: false, },
                            F_GroupSplit:{ required: false, },
                            F_XAutoCL:{ required: false, },
                            F_XLCL:{ required: false, },
                            F_XCL:{ required: false, },
                            F_XUCL:{ required: false, },
                            F_RAutoCL:{ required: false, },
                            F_RLCL:{ required: false, },
                            F_RCL:{ required: false, },
                            F_RUCL:{ required: false, },
                            F_Rule1:{ required: false, },
                            F_Rule2:{ required: false, },
                            F_Rule3:{ required: false, },
                            F_Rule4:{ required: false, },
                            F_Rule5:{ required: false, },
                            F_Rule6:{ required: false, },
                            F_Rule7:{ required: false, },
                            F_Rule8:{ required: false, },
                            F_ExemptionDay:{ required: true, message: '@Localizer["PleaseInput"] @Localizer["ExemptionDay"]', trigger: 'blur' },
                        },
                        cpk:{
                            F_LSL:{ required: true, message: '@Localizer["PleaseInput"] LSL', trigger: 'blur' },
                            F_USL:{ required: true, message: '@Localizer["PleaseInput"] USL', trigger: 'blur' },
                            F_WarnMin:{ required: false },
                            F_WarnMax:{ required: false },
                            F_FailMin:{ required: false },
                            F_FailMax:{ required: false },
                            F_ExemptionDay:{ required: true, message: '@Localizer["PleaseInput"] @Localizer["ExemptionDay"]', trigger: 'blur' },
                        },
                },
                grouptypelist:[
                    {value:0,text:"@Localizer["ContinuousSampling"]"},
                    {value:1,text:"@Localizer["RandomSampling"]"},
                    {value:2,text:"@Localizer["PeriodicSampling"]"},
                ],
                labsplit:"",
                activeName:"base",
                dialogPreviewVisible:false,
                previewurl:"",
                dialogloading:true,
            },
            methods:{
                getFrequencyType(value) {
                    if (value == 'S') 
                        { return '@Localizer["Second"]'; }
                    else if (value == 'MI')
                        { return '@Localizer["Minute"]'; }
                     else if (value == 'H')
                        { return '@Localizer["Hour"]'; }
                     else if (value == 'D')
                        { return '@Localizer["Day"]'; }
                     else if (value == 'W')
                        { return '@Localizer["Week"]'; }
                     else if (value == 'M')
                        { return '@Localizer["Month"]'; }
                     else if (value == 'Y')
                        { return '@Localizer["Year"]'; }
                    else
                        { return ''; }
                },
                setCurrent(row) {
                    this.$refs.singleTable.setCurrentRow(row);
                },
                handleCurrentChange(val) {
                    this.currentRow = val;
                },
                refresh: function(){
                    this.loading=true;
                    axios.get(
                            "@Url.Action("GetGridJson", "Chart")",
                            {params:{
                                keyword:  this.keyword,
                            }}).then(function(resp)
                            {
                                app.tableData=resp.data.rows;
                                app.loading=false;
                            });
                },
                addItem: function(){
                    this.formtitle="@Localizer["Add"]";
                    this.keyValue="";
                    this.dialogFormVisible=true;
                },
                editItem: function(){
                    if(!!this.currentRow)
                    {
                        this.formtitle="@Localizer["Edit"]"
                        this.keyValue=this.currentRow.F_Id;
                        this.dialogFormVisible=true;
                    }
                },
                deleteItem: function(){
                    this.$confirm('@Localizer["Confirm"] @Localizer["Delete"]?')
                        .then(_ => {
                            if(!!this.currentRow)
                            {
                                this._submitForm({
                                    url:"@Url.Content("~/ProductManage/Chart/DeleteForm")?keyValue=" + this.currentRow.F_Id,
                                    param:{},
                                    success: function(resp){
                                        app.$message({
                                            message: '@Localizer["Delete"] @Localizer["Success"]',
                                            type: 'success'
                                        });
                                        app.refresh();
                                    }
                                })
                            }
                        })
                        .catch(_ => {});
                },
                changegrouptype: function(){
                    if(spc.F_GroupType==1)
                    {
                        labsplit="@Localizer["SampleCount"]";
                    }else
                    {
                        labsplit="@Localizer["SampleFrequency"]";
                    }
                },
                submitForm: function(){
                        this.$refs["chart"].validate(function(valid){
                        if(valid)
                        {
                            app.$refs["spc"].validate(function(valid){
                                if(valid)
                                {
                                    fromvalid=app.$refs["cpk"].validate(function(valid){
                                        if(valid)
                                        {
                                            app._submitForm({
                                                    url:"@Url.Content("~/ProductManage/Chart/SubmitForm")?keyValue=" + app.keyValue,
                                                    param:app.chart,
                                                    success: function(resp){
                                                        app.spc.F_ChartId=resp.data.data.F_Id;
                                                        app._submitForm({
                                                        url:"@Url.Content("~/ProductManage/Chart_Parameters_SPC/SubmitForm")?keyValue=" + app.keyValue,
                                                        param:app.spc,
                                                        success: function(resp){
                                                                    app.cpk.F_ChartId= app.spc.F_ChartId
                                                                    app._submitForm({
                                                                    url:"@Url.Content("~/ProductManage/Chart_Parameters_CPK/SubmitForm")?keyValue=" + app.keyValue,
                                                                    param:app.cpk,
                                                                    success: function(resp){
                                                                                app.$message({
                                                                                    message: '@Localizer["Submit"] @Localizer["Success"]',
                                                                                    type: 'success'
                                                                                });
                                                                                app.dialogFormVisible=false;
                                                                                app.refresh();
                                                                                return true;
                                                                            }
                                                                    });
                                                                }
                                                        });
                                                    }
                                                });
                                        }
                                        else
                                        {
                                            app.$message({
                                                message: '@Localizer["PleaseCheckData"]',
                                                type: 'error'
                                            });
                                            return false;
                                        }
                                    });
                                }
                                else
                                {
                                    app.$message({
                                        message: '@Localizer["PleaseCheckData"]',
                                        type: 'error'
                                    });
                                    return false;
                                }
                            });
                        }
                        else
                        {
                            app.$message({
                                message: '@Localizer["PleaseCheckData"]',
                                type: 'error'
                            });
                            return false;
                        }
                    });
                    
                },
                showpreview: function()
                {
                    this.formtitle="@Localizer["Preview"]:"+this.currentRow.F_EnCode;
                    var chartId=this.currentRow.F_Id;
                     axios.get(
                                "@Url.Content("~/ProductManage/Chart/GetMonitorDateNow")",
                                {params:{
                                    keyValue: chartId 
                                }}).then(function(resp)
                            {
                                app.previewurl= "@Url.Content("~/ProductManage/Chart/Preview")?keyValue=" + chartId +"&startTime="+resp.data.startTime+"&endTime="+resp.data.endTime;
                                app.dialogPreviewVisible=true;
                            });                    
                },
                formload: function() {
                    this.$refs["chart"].resetFields();
                    this.$refs["spc"].resetFields();
                    this.$refs["cpk"].resetFields();
                    axios.get(
                                "@Url.Action("GetSelectJson", "DataSource_MDCS")",
                                {params:{
                                    
                                }}).then(function(resp)
                            {
                                app.datasourcelist=resp.data;
                            });  
                    axios.get(
                                "@Configs.GetValue("RPSConnString")SiteLines/@Configs.GetValue("RPSBusiness"),@Configs.GetValue("RPSSite")",
                                {params:{
                                    
                                }}).then(function(resp)
                            {
                                app.rpslinelist=resp.data;
                            });  
                    if(!!this.keyValue)
                    {
                        axios.get(
                                "@Url.Action("GetFormJson", "Chart")",
                                {params:{
                                    keyValue:this.keyValue,
                                }}).then(function(resp)
                            {
                                app.chart=resp.data;
                            });
                        axios.get(
                                "@Url.Action("GetFormJson", "Chart_Parameters_SPC")",
                                {params:{
                                    keyValue:this.keyValue,
                                }}).then(function(resp)
                            {
                                app.spc=resp.data;
                            });    
                        axios.get(
                                "@Url.Action("GetFormJson", "Chart_Parameters_CPK")",
                                {params:{
                                    keyValue:this.keyValue,
                                }}).then(function(resp)
                            {
                                app.cpk=resp.data;
                            }); 
                    }else
                    {
                        
                    }
                    this.dialogloading=false;

                },
                exportExcel() { 
                    /* generate workbook object from table */
                    var wb = XLSX.utils.table_to_book(document.querySelector('#charttable'))
                    /* get binary string as output */
                    var wbout = XLSX.write(wb, { bookType: 'xlsx', bookSST: true, type: 'array' })
                    try {
                        //var FileSaver = require('file-saver');
                        that.saveAs(new Blob([wbout], { type: 'application/octet-stream' }), 'chartsheetjs.xlsx')
                    } catch (e) { if (typeof console !== 'undefined') console.log(e, wbout) }
                    return wbout
                }
            },
            created: function(){
                this.refresh();
                this.tableHeight=document.documentElement.clientHeight-95;
                this.pageheight = window.innerHeight-70;
                this.XChart=document.getElementById('Xchart');
                this.RChart=document.getElementById('Rchart');
            },
        }
    )
</script>


