@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_VueForm.cshtml";
}
<div id='app'>
    <el-container>
        <el-header style="vertical-align:middle;">
            <span>
                <!-- 开始时间: -->
                <el-date-picker v-model="timeRange"
                                v-on:change="getSTime"
                                type="datetimerange"
                                size="small"
                                value-format="yyyy-MM-dd HH:mm:ss"
                                range-separator="@Localizer["To"]"
                                start-placeholder="@Localizer["StarTime"]"
                                end-placeholder="@Localizer["EndTime"]">
                </el-date-picker>
                <span>
                    <!-- <span>结束时间:
                        <el-date-picker
                            v-model="previewdata.endTime"
                            type="datetime"
                            size="small"
                            value-format="yyyy-MM-dd HH:mm:ss"
                            placeholder="选择日期">
                        </el-date-picker>
                    </span> -->
        </el-header>
    </el-container>
    <el-container>
        <el-main>
            <template>
                <div id="Xchart" ref="Xchart" style="height:500px;border:1px solid #ccc;padding:10px;">
                    @Localizer["loading"]
                </div>
                <div id="XchartDetail" v-html="previewdata.XContent">
                </div>
                <div id="Rchart" ref="Rchart" style="height:500px;border:1px solid #ccc;padding:10px;">
                    @Localizer["loading"]
                </div>
                <div id="RchartDetail" v-html="previewdata.RContent">
                </div>
                <div id="CPKLinechart" reg="CPKLinechart" style="height:500px;border:1px solid #ccc;padding:10px;">
                    @Localizer["loading"]
                </div>
                <div id="CPKchart" reg="CPKchart" style="height:500px;border:1px solid #ccc;padding:10px;">
                    @Localizer["loading"]
                </div>
                <div style="text-align:center;"><H3>CPK:{{previewdata.CPKValue}}</H3></div>
            </template>
        </el-main>
    </el-container>
</div>
<environment>
    <script src="~/js/echarts/echarts.min.js"></script>
    <script src="~/js/echarts/shine.js"></script>
</environment>
<script>
 var app=new Vue(
        {
            el: "#app",
            data:{
                keyValue : "",
                timeRange:[],
                previewdata:{
                     chart:{},
                     mdcsdata:[],
                     spcparam:{},
                     chartX : [],
                     XchartY : [],
                     RchartY : [],
                     XchartUCL : [],
                     XchartLCL: [],
                     XchartCL : [],
                     RchartUCL : [],
                     RchartLCL: [],
                     RchartCL : [],
                     CPKchartX : [],
                    CPKchartY: [],
                    CPKLinechartX: [],
                    CPKLinechartY: [],
                     spcdata:{},
                     CPKValue:0,
                     XUCL:0,
                     XLCL:0,
                     XCL:0,
                     RUCL:0,
                     RLCL:0,
                     RCL:0,
                     USL:0,
                     LSL:0,
                     XContent:"",
                     RContent:"",
                },
            },
            methods:{
                showchart: function()
                {
                    var Xchart = echarts.init(document.getElementById('Xchart'),'shine');
                    var Rchart = echarts.init(document.getElementById('Rchart'),'shine');
                    var CPKchart = echarts.init(document.getElementById('CPKchart'), 'shine');
                    var CPKLinechart = echarts.init(document.getElementById('CPKLinechart'), 'shine');
                    Xchart.resize();
                    Rchart.resize();
                    CPKchart.resize();
                    CPKLinechart.resize();

                    var minValue = Math.min.apply(null,this.previewdata.XchartY);
                    var maxValue = Math.max.apply(null,this.previewdata.XchartY);
                    if(!!this.previewdata.LSL)
                        minValue=Math.min(minValue,this.previewdata.LSL,this.previewdata.XLCL);
                    else
                        minValue=Math.min(minValue,this.previewdata.XLCL);
                    if(!!this.previewdata.USL)
                        maxValue=Math.max(maxValue,this.previewdata.USL,this.previewdata.XUCL);
                    else
                        maxValue=Math.max(maxValue,this.previewdata.XUCL);
                    var interval=Math.abs(maxValue-minValue)/8
                    maxValue=maxValue+interval;
                    minValue=minValue-interval;
                    Xchart.setOption({
                                        title : {
                                            show:true,//默认为true，可以省略
                                            text: 'X bar Chart',
                                            //subtext: '纯属虚构',
                                            x:'left'
                                        },
                                        legend: {
                                            data: ['LCL','CL','UCL','LSL','USL','X']
                                        },
                                        dataZoom: [
                                            {
                                                show: true,
                                                realtime: true,
                                                start: 0,
                                                end: 100
                                            },
                                            {
                                                type: 'inside',
                                                realtime: true,
                                                start: 0,
                                                end: 100
                                            }
                                        ],
                                        xAxis: {
                                            type: 'category',
                                            data: this.previewdata.chartX,
                                        },
                                        yAxis: {
                                            type: 'value',
                                            min:minValue.toFixed(3),
                                            max:maxValue.toFixed(3),
                                        },
                                        series: [
                                        {
                                            name: 'LCL',
                                            type: 'line',
                                            symbol: 'none',
                                            itemStyle: {
                                                normal:
                                                {
                                                    color: "orange",
                                                }
                                            },
                                            markLine:
                                            {
                                                itemStyle:{
                                                normal:{lineStyle:{type:'dashed'},color:"orange",label:{show:true,position:'end'}}
                                                },
                                                data: [
                                                        {
                                                            name: 'LCL',
                                                            yAxis: this.previewdata.XLCL
                                                        },
                                                    ]
                                            }
                                        },
                                        {
                                            name: 'UCL',
                                            type: 'line',
                                            symbol: 'none',
                                            itemStyle: {
                                                normal:
                                                {
                                                    color: "orange",
                                                }
                                            },
                                            markLine:
                                            {
                                                itemStyle:{
                                                normal:{lineStyle:{type:'dashed'},color:"orange",label:{show:true,position:'end'}}
                                                },
                                                data: [
                                                        {
                                                            name: 'UCL',

                                                            yAxis: this.previewdata.XUCL
                                                        }
                                                    ]
                                            }
                                        },
                                        {
                                            name: "X",
                                            data: this.previewdata.XchartY,
                                            type: 'line',
                                            itemStyle: {
                                                normal:
                                                {
                                                    color: "blue",
                                                }
                                            },
                                            markPoint: {
                                                itemStyle:{
                                                    normal:{
                                                        color:"red",
                                                        }
                                                    },
                                                data: app.previewdata.XMark,
                                            },
                                        },
                                        {
                                            name: 'CL',
                                            type: 'line',
                                            symbol: 'none',
                                            itemStyle: {
                                                normal:
                                                {
                                                    color: "green",
                                                }
                                            },
                                            markLine:
                                            {
                                                itemStyle:{
                                                normal:{lineStyle:{type:'dashed'},color:"green",label:{show:true,position:'end'}}
                                                },
                                                data: [
                                                        {
                                                            name: 'CL',
                                                            yAxis: this.previewdata.XCL
                                                        }
                                                    ]
                                            }
                                        },
                                        {
                                            name: 'LSL',
                                            type: 'line',
                                            symbol: 'none',
                                            itemStyle: {
                                                normal:
                                                {
                                                    color: "red",
                                                }
                                            },
                                            markLine:
                                            {
                                                itemStyle:{
                                                normal:{lineStyle:{type:'solid'},color:"red",label:{show:true,position:'end'}}
                                                },
                                                data: [
                                                        {
                                                            name: 'LSL',

                                                            yAxis: this.previewdata.LSL
                                                        }
                                                    ]
                                            }
                                        },
                                        {
                                            name: 'USL',
                                            type: 'line',
                                            symbol: 'none',
                                            itemStyle: {
                                                normal:
                                                {
                                                    color: "red",
                                                }
                                            },
                                            markLine:
                                            {
                                                itemStyle:{
                                                normal:{lineStyle:{type:'solid'},color:"red",label:{show:true,position:'end'}}
                                                },
                                                data: [
                                                        {
                                                            name: 'USL',

                                                            yAxis: this.previewdata.USL
                                                        }
                                                    ]
                                            }
                                        },

                                        ]

                                            });
                    Xchart.on('click',function(params)
                                        {
                                            var data = app.previewdata.spcdata.DataSourceGroupList[params.dataIndex];
                                            var shtml="";
                                            shtml= shtml + '<div style="text-align:center;"><p><H3>X:' + data.X + "</H3></p></div>";
                                            shtml= shtml + '<div style="text-align:center;"><p><H4>@Localizer["ViolationOfRules"]</H4></p></div>',
                                            shtml= shtml + '<table class="el-table el-table--fit el-table--scrollable-y el-table--enable-row-hover el-table--enable-row-transition">';
                                            shtml= shtml + "<thead>"+
                                                "<tr>"+
                                                "<th>No.</th>"+
                                                "<th>@Localizer["RuleContent"]</th>"+
                                                "</tr>"+
                                            "</thead>";
                                            shtml= shtml + "<tbody>";
                                            if(data.Rule1)
                                            shtml= shtml + "<tr><td>1</td><td>@Localizer["Rule1Content"]</td></tr>";
                                            if(data.Rule2)
                                            shtml= shtml + "<tr><td>2</td><td>@Localizer["Rule2Content"]</td></tr>";
                                            if(data.Rule3)
                                            shtml= shtml + "<tr><td>3</td><td>@Localizer["Rule3Content"]</td></tr>";
                                            if(data.Rule4)
                                            shtml= shtml + "<tr><td>4</td><td>@Localizer["Rule4Content"]</td></tr>";
                                            if(data.Rule5)
                                            shtml= shtml + "<tr><td>5</td><td>@Localizer["Rule5Content"]</td></tr>";
                                            if(data.Rule6)
                                            shtml= shtml + "<tr><td>6</td><td>@Localizer["Rule6Content"]</td></tr>";
                                            if(data.Rule7)
                                            shtml= shtml + "<tr><td>7</td><td>@Localizer["Rule7Content"]</td></tr>";
                                            if(data.Rule8)
                                            shtml= shtml + "<tr><td>8</td><td>@Localizer["Rule8Content"]</td></tr>";
                                            shtml= shtml + "</tbody>";
                                            shtml= shtml + "</table>";
                                            shtml= shtml + '<div style="text-align:center;"><p><H4>@Localizer["SampleList"]</H4></p></div>',
                                            shtml= shtml + '<table class="el-table el-table--fit el-table--scrollable-y el-table--enable-row-hover el-table--enable-row-transition">';
                                            shtml= shtml + "<thead>"+
                                                "<tr>"+
                                                "<th>No.</th>"+
                                                "<th>KeyValue</th>"+
                                                "<th>CalValue</th>"+
                                                "<th>TimeValue</th>"+
                                                "<th>SortValue</th>"+
                                                "<th>Tags</th>"+
                                                "</tr>"+
                                            "</thead>";
                                            shtml= shtml + "<tbody>";
                                            for(var i in data.DataSourceItemList)
                                            {
                                                shtml= shtml + "<tr>";
                                                var item=data.DataSourceItemList[i];
                                                var index = new Number(i);
                                                index=index+1;
                                                shtml= shtml + "<td>" + index + "</td>";
                                                shtml= shtml + "<td>" + item.KeyValue + "</td>";
                                                shtml= shtml + "<td>" + item.CalValue + "</td>";
                                                shtml= shtml + "<td>" + item.TimeValue + "</td>";
                                                shtml= shtml + "<td>" + item.SortValue + "</td>";
                                                shtml= shtml + "<td>";
                                                for(var j in item.TagList)
                                                {
                                                    var tag = item.TagList[j];
                                                    shtml= shtml + "<p>" + tag.Name +":" +  tag.Value  + "</p>";
                                                }
                                                shtml= shtml + "</td>"
                                                shtml= shtml + "</tr>";
                                            }
                                            shtml= shtml + "</tbody>";
                                            shtml= shtml + "</table>";
                                            app.previewdata.XContent=shtml;
                                        }
                                    )
                    minValue = Math.min.apply(null,this.previewdata.RchartY);
                    maxValue = Math.max.apply(null,this.previewdata.RchartY);
                    minValue=Math.min(minValue,this.previewdata.RLCL);
                    maxValue=Math.max(maxValue,this.previewdata.RUCL);
                    interval=Math.abs(maxValue-minValue)/8
                    maxValue=maxValue+interval;
                    minValue=minValue-interval;
                    Rchart.setOption({
                                        title : {
                                            show:true,//默认为true，可以省略
                                            text: 'R Chart',
                                            //subtext: '纯属虚构',
                                            x:'left'
                                        },
                                        legend: {
                                            data: ['LCL','CL','UCL','R']
                                        },
                                        dataZoom: [
                                            {
                                                show: true,
                                                realtime: true,
                                                start: 0,
                                                end: 100
                                            },
                                            {
                                                type: 'inside',
                                                realtime: true,
                                                start: 0,
                                                end: 100
                                            }
                                        ],
                                        xAxis: {
                                            type: 'category',
                                            data: this.previewdata.chartX,
                                        },
                                        yAxis: {
                                            type: 'value',
                                            min:minValue.toFixed(3),
                                            max:maxValue.toFixed(3),
                                        },
                                        series: [
                                        {
                                            name: 'LCL',
                                            type: 'line',
                                            symbol: 'none',
                                            itemStyle: {
                                                normal:
                                                {
                                                    color: "orange",
                                                }
                                            },
                                            markLine:
                                            {
                                                itemStyle:{
                                                normal:{lineStyle:{type:'dashed'},color:"orange",label:{show:true,position:'end'}}
                                                },
                                                data: [
                                                        {
                                                            name: 'LCL',
                                                            yAxis: this.previewdata.RLCL
                                                        },
                                                    ]
                                            }
                                        },
                                        {
                                            name: 'CL',
                                            type: 'line',
                                            symbol: 'none',
                                            itemStyle: {
                                                normal:
                                                {
                                                    color: "green",
                                                }
                                            },
                                            markLine:
                                            {
                                                itemStyle:{
                                                normal:{lineStyle:{type:'dashed'},color:"green",label:{show:true,position:'end'}}
                                                },
                                                data: [
                                                        {
                                                            name: 'CL',
                                                            yAxis: this.previewdata.RCL
                                                        }
                                                    ]
                                            }
                                        },
                                        {
                                            name: 'UCL',
                                            type: 'line',
                                            symbol: 'none',
                                            itemStyle: {
                                                normal:
                                                {
                                                    color: "orange",
                                                }
                                            },
                                            markLine:
                                            {
                                                itemStyle:{
                                                normal:{lineStyle:{type:'dashed'},color:"orange",label:{show:true,position:'end'}}
                                                },
                                                data: [
                                                        {
                                                            name: 'UCL',

                                                            yAxis: this.previewdata.RUCL
                                                        }
                                                    ]
                                            }
                                        },
                                        {
                                            name: "R",
                                            data: this.previewdata.RchartY,
                                            type: 'line',
                                            itemStyle: {
                                                normal:
                                                {
                                                    color: "blue",
                                                }
                                            },
                                            markPoint: {
                                                itemStyle:{
                                                    normal:{
                                                        color:"red",
                                                        }
                                                    },
                                                data: app.previewdata.RMark,
                                            },
                                        },

                                        ]

                                            });
                    Rchart.on('click',function(params)
                                        {
                                            var data = app.previewdata.spcdata.DataSourceGroupList[params.dataIndex];
                                            var shtml="";
                                            shtml= shtml + '<div style="text-align:center;"><p><H3>R:' + data.R + "</H3></p></div>";
                                            shtml= shtml + '<div style="text-align:center;"><p><H4>@Localizer["ViolationOfRules"]</H4></p></div>',
                                            shtml= shtml + '<table class="el-table el-table--fit el-table--scrollable-y el-table--enable-row-hover el-table--enable-row-transition">';
                                            shtml= shtml + "<thead>"+
                                                "<tr>"+
                                                "<th>No.</th>"+
                                                "<th>@Localizer["RuleContent"]</th>"+
                                                "</tr>"+
                                            "</thead>";
                                            shtml= shtml + "<tbody>";
                                            if(data.RuleR1)
                                            shtml= shtml + "<tr><td>1</td><td>@Localizer["Rule1Content"]</td></tr>";
                                            if(data.RuleR2)
                                            shtml= shtml + "<tr><td>2</td><td>@Localizer["Rule2Content"]</td></tr>";
                                            if(data.RuleR3)
                                            shtml= shtml + "<tr><td>3</td><td>@Localizer["Rule3Content"]</td></tr>";
                                            if(data.RuleR4)
                                            shtml= shtml + "<tr><td>4</td><td>@Localizer["Rule4Content"]</td></tr>";
                                            if(data.RuleR5)
                                            shtml= shtml + "<tr><td>5</td><td>@Localizer["Rule5Content"]</td></tr>";
                                            if(data.RuleR6)
                                            shtml= shtml + "<tr><td>6</td><td>@Localizer["Rule6Content"]</td></tr>";
                                            if(data.RuleR7)
                                            shtml= shtml + "<tr><td>7</td><td>@Localizer["Rule7Content"]</td></tr>";
                                            if(data.RuleR8)
                                            shtml= shtml + "<tr><td>8</td><td>@Localizer["Rule8Content"]</td></tr>";
                                            shtml= shtml + "</tbody>";
                                            shtml= shtml + "</table>";
                                            shtml= shtml + '<div style="text-align:center;"><p><H4>@Localizer["SampleList"]</H4></p></div>',
                                            shtml= shtml + '<table class="el-table el-table--fit el-table--scrollable-y el-table--enable-row-hover el-table--enable-row-transition">';
                                            shtml= shtml + "<thead>"+
                                                "<tr>"+
                                                "<th>No.</th>"+
                                                "<th>KeyValue</th>"+
                                                "<th>CalValue</th>"+
                                                "<th>TimeValue</th>"+
                                                "<th>SortValue</th>"+
                                                "<th>Tags</th>"+
                                                "</tr>"+
                                            "</thead>";
                                            shtml= shtml + "<tbody>";
                                            for(var i in data.DataSourceItemList)
                                            {
                                                shtml= shtml + "<tr>";
                                                var item=data.DataSourceItemList[i];
                                                var index = new Number(i);
                                                index=index+1;
                                                shtml= shtml + "<td>" + index + "</td>";
                                                shtml= shtml + "<td>" + item.KeyValue + "</td>";
                                                shtml= shtml + "<td>" + item.CalValue + "</td>";
                                                shtml= shtml + "<td>" + item.TimeValue + "</td>";
                                                shtml= shtml + "<td>" + item.SortValue + "</td>";
                                                shtml= shtml + "<td>";
                                                for(var j in item.TagList)
                                                {
                                                    var tag = item.TagList[j];
                                                    shtml= shtml + "<p>" + tag.Name +":" +  tag.Value  + "</p>";
                                                }
                                                shtml= shtml + "</td>"
                                                shtml= shtml + "</tr>";
                                            }
                                            shtml= shtml + "</tbody>";
                                            shtml= shtml + "</table>";
                                            app.previewdata.RContent=shtml;
                                        }
                                    )
                    CPKchart.setOption({
                                        title : {
                                            show:true,//默认为true，可以省略
                                            text: 'Distribution Chart',
                                            //subtext: '纯属虚构',
                                            x:'left'
                                        },
                                        tooltip: {
                                            trigger: 'item'
                                        },
                                        legend: {
                                            data: ['Count']
                                        },
                                        toolbox: {
                                            show: true,
                                            feature: {
                                                mark: { show: true },
                                                dataView: { show: true, readOnly: false },
                                                //magicType: { show: true, type: ['line', 'bar'] },
                                                restore: { show: true },
                                                saveAsImage: { show: true }
                                            }
                                        },
                                        calculable: true,
                                        xAxis: [
                                            {
                                                type: 'category',
                                                data: this.previewdata.CPKchartX,
                                            }
                                        ],
                                        yAxis: [
                                            {
                                                type: 'value',
                                                splitArea: { show: true }
                                            }
                                        ],
                                        series: [
                                            {
                                                name: 'Count',
                                                type: 'bar',
                                                data: this.previewdata.CPKchartY
                                            }
                                        ]
                    });
                    CPKLinechart.setOption({
                        title: {
                            show: true,//默认为true，可以省略
                            text: 'CPKLine Chart',
                            //subtext: '纯属虚构',
                            x: 'left'
                        },
                        legend: {
                            data: ['LCL', 'UCL','CPK' ]
                        },
                        dataZoom: [
                            {
                                show: true,
                                realtime: true,
                                start: 0,
                                end: 100
                            },
                            {
                                type: 'inside',
                                realtime: true,
                                start: 0,
                                end: 100
                            }
                        ],
                        xAxis: {
                            type: 'category',
                            data: this.previewdata.CPKLinechartX,
                        },
                        yAxis: {
                            type: 'value',
                           // min: minValue.toFixed(3),
                           // max: maxValue.toFixed(3),
                        },
                        series: [
                            {
                                name: 'LCL',
                                type: 'line',
                                symbol: 'none',
                                itemStyle: {
                                    normal:
                                    {
                                        color: "orange",
                                    }
                                },
                                markLine:
                                {
                                    itemStyle: {
                                        normal: { lineStyle: { type: 'dashed' }, color: "orange", label: { show: true, position: 'end' } }
                                    },
                                    data: [
                                        {
                                            name: 'LCL',
                                            yAxis: this.previewdata.RLCL
                                        },
                                    ]
                                }
                            },

                            {
                                name: 'UCL',
                                type: 'line',
                                symbol: 'none',
                                itemStyle: {
                                    normal:
                                    {
                                        color: "orange",
                                    }
                                },
                                markLine:
                                {
                                    itemStyle: {
                                        normal: { lineStyle: { type: 'dashed' }, color: "orange", label: { show: true, position: 'end' } }
                                    },
                                    data: [
                                        {
                                            name: 'UCL',

                                            yAxis: this.previewdata.RUCL
                                        }
                                    ]
                                }
                            },
                            {
                                name: "CPK",
                                data: this.previewdata.CPKLinechartY,
                                type: 'line',
                                itemStyle: {
                                    normal:
                                    {
                                        color: "blue",
                                    }
                                },
                                markPoint: {
                                    itemStyle: {
                                        normal: {
                                            color: "red",
                                        }
                                    },
                                    data: app.previewdata.RMark,
                                },
                            },

                        ]

                    });
                    CPKLinechart.on('click', function (params) {
                        var datetime = params.name;

                        debugger;

                          axios.get(
                                "@Url.Action("GetChangeCPKChartData", "Chart")",
                                {params:{
                                    keyValue: app.keyValue, 
                                    endTime: datetime,
                                }}).then(function(resp)
                                {
                                    debugger;
                                        var spcdata = resp.data.SPC;
                                        if(!!spcdata)
                                        {
                                            app.previewdata.CPKchartX = [];
                                            app.previewdata.CPKchartY = [];
                                            app.previewdata.CPKValue = {};
                                            for(var i in resp.data.CPK.DistributeStatistics)
                                            {
                                                var value=resp.data.CPK.DistributeStatistics[i];
                                                app.previewdata.CPKchartX.push(i);
                                                app.previewdata.CPKchartY.push(value);
                                            }
                                            app.previewdata.CPKValue=resp.data.CPK.CPK;
                                            app.showchart();
                                        }else
                                        {
                                            app.$message({
                                            message: '无数据!',
                                            type: 'error'
                                        });
                                    }


                            });
                    });
                },
                loadchartdata:function()
                {
                    this.previewdata={
                        chart:{},
                        mdcsdata:[],
                        spcparam:{},
                        chartX : [],
                        XchartY : [],
                        RchartY : [],
                        XchartUCL : [],
                        XchartLCL: [],
                        XchartCL : [],
                        RchartUCL : [],
                        RchartLCL: [],
                        RchartCL : [],
                        CPKchartX : [],
                        CPKchartY: [],
                        CPKLinechartX: [],
                        CPKLinechartY: [],
                        XMark:[],
                        RMark:[],
                        spcdata:{},
                        CPKValue:0,
                        XUCL:0,
                        XLCL:0,
                        XCL:0,
                        RUCL:0,
                        RLCL:0,
                        RCL:0,
                        USL:0,
                        LSL:0,
                        XContent:"",
                        RContent:"",
                    };
                     axios.get(
                                "@Url.Action("GetChartData", "Chart")",
                                {params:{
                                    keyValue: this.keyValue,
                                    startTime: this.timeRange[0],
                                    endTime:   this.timeRange[1],
                                }}).then(function(resp)
                            {
                                        var spcdata = resp.data.SPC;
                                        if(!!spcdata)
                                        {
                                            app.previewdata.spcdata=spcdata;
                                            app.previewdata.XUCL=spcdata.UCL;
                                            app.previewdata.XLCL=spcdata.LCL;
                                            app.previewdata.XCL=spcdata.CL;
                                            app.previewdata.RUCL=spcdata.RUCL;
                                            app.previewdata.RLCL=spcdata.RLCL;
                                            app.previewdata.RCL=spcdata.RCL;
                                            for(var i in spcdata.DataSourceGroupList)
                                            {
                                                var value=spcdata.DataSourceGroupList[i];
                                                var xAxis=value.DataSourceItemList[0].TimeValue;
                                                app.previewdata.chartX.push(xAxis);
                                                app.previewdata.XchartY.push(value.X);
                                                app.previewdata.RchartY.push(value.R);
                                                if(value.Rule1||value.Rule2||value.Rule3||value.Rule4||value.Rule5
                                                ||value.Rule6||value.Rule7||value.Rule8)
                                                {
                                                var Xmarkpoint={ name:xAxis,value:value.X,xAxis:xAxis,yAxis:value.X };
                                                    app.previewdata.XMark.push(Xmarkpoint);
                                                }
                                                if(value.RuleR1||value.RuleR2||value.RuleR3||value.RuleR4||value.RuleR5
                                                ||value.RuleR6||value.RuleR7||value.RuleR8)
                                                {
                                                var Rmarkpoint={ name:xAxis,value:value.R,xAxis:xAxis,yAxis:value.R };
                                                    app.previewdata.RMark.push(Rmarkpoint);
                                                }
                                            }
                                            for(var i in resp.data.CPK.DistributeStatistics)
                                            {
                                                var value=resp.data.CPK.DistributeStatistics[i];
                                                app.previewdata.CPKchartX.push(i);
                                                app.previewdata.CPKchartY.push(value);
                                            }
                                            app.previewdata.CPKValue=resp.data.CPK.CPK;
                                            app.previewdata.LSL=resp.data.LSL;
                                            app.previewdata.USL = resp.data.USL;


                                            if (!!resp.data.CPKLineResult && resp.data.CPKLineResult.length > 0) {
                                                var cpkline = resp.data.CPKLineResult;
                                                for (var i in cpkline) {
                                                    var value = cpkline[i];
                                                    app.previewdata.CPKLinechartX.push(value.F_LastLoadTime);
                                                    app.previewdata.CPKLinechartY.push(value.F_CPK);
                                                }
                                            }
                                            app.showchart();
                                        }else
                                        {
                                            app.$message({
                                            message: '无数据!',
                                            type: 'error'
                                        });
                                    }


                            });


                },
                getSTime(val){
                    if(!!val)
                    {
                        this.loadchartdata();
                    }
                },
                getCPKLineChart() {

                }
            },
            mounted:function(){
                var startime=this._getUrlParam("startTime");
                var endtime=this._getUrlParam("endTime");
                this.keyValue = this._getUrlParam("keyValue");
                this.timeRange=[new Date(Date.parse(startime.replace(/-/g, "/"))),new Date(Date.parse(endtime.replace(/-/g, "/")))];
                this.loadchartdata();
            },
        }
 );
</script>