@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "@Url.Action("GetFormJson", "Subject")",//,
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                cache: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            });
        }
    });

    function initControl() {
        $("#F_ClientId").bindSelect({
            url: "@Url.Action("GetSelectJsonByRoleCode", "User",new { area= "SystemManage" })",
            param: { enCode: "guest" }
        });
                $("#F_ImplementId").bindSelect({
            url: "@Url.Action("GetSelectJsonByRoleCode", "User",new { area= "SystemManage" })",
            param: { enCode: "implement" }
        });
        $("#F_DesignId").bindSelect({
            url: "@Url.Action("GetSelectJsonByRoleCode", "User",new { area= "SystemManage" })",
            param: { enCode: "design" }
        });
        $("#F_IPQC").bindSelect({
            url: "@Url.Action("GetSelectJsonByRoleCode", "User",new { area= "SystemManage" })",
            param: { enCode: "IPQC" }
        });
        $("#F_ManageId").bindSelect({
            url: "@Url.Action("GetSelectJsonByRoleCode", "User",new { area= "SystemManage" })",
            param: { enCode: "manager" }
        });
    }
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "@Url.Content("~/ProductManage/Subject/SubmitForm")?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                //$.currentWindow().$("#gridList").resetSelection();
                //$.currentWindow().$("#gridList").trigger("reloadGrid");
                $.currentWindow().$("#gridList").bootstrapTable('refresh');
                $.loading(false);
            }
        })
    }
</script>

<form id="form1">
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px; ">编码</th>
                <td class="formValue"><input id="F_EnCode" name="F_EnCode" maxlength="20" type="text" class="form-control required" placeholder="请输入" /></td>
            </tr>
            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px; ">名称</th>
                <td class="formValue"><input id="F_FullName" name="F_FullName" maxlength="20" type="text" class="form-control required" placeholder="请输入" /></td>
            </tr>
            <tr hidden>
                <th class="formTitle" valign="top" style="padding-top: 5px; ">区域</th>
                <td class="formValue"><input id="F_WorkAreaId" name="F_WorkAreaId" maxlength="20" type="text" class="form-control required" placeholder="请输入" /></td>
            </tr>
            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px; ">类型</th>
                <td class="formValue"><input id="F_Type" name="F_Type" maxlength="20" type="text" class="form-control required" placeholder="请输入" /></td>
            </tr>
            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px; ">地址</th>
                <td class="formValue"><input id="F_Address" name="F_Address" maxlength="20" type="text" class="form-control required" placeholder="请输入" /></td>
            </tr>

            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px; ">小图</th>
                <td class="formValue">
                    <input id="F_MinImage" name="F_MinImage" maxlength="20" type="text" class="form-control required" placeholder="请输入" />
                </td>
                <td class="formValue">
                    <input type="file" id="F_MInImagepicker" value="" />
                </td>
            </tr>
            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px; ">图1</th>
                <td class="formValue"><input id="F_Image01" name="F_Image01" maxlength="20" type="text" class="form-control required" placeholder="请输入" /></td>
                <td class="formValue">
                    <input type="file" id="F_MaxImage01picker" value="" />
                </td>
            </tr>
            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px; ">图2</th>
                <td class="formValue"><input id="F_Image02" name="F_Image02" maxlength="20" type="text" class="form-control required" placeholder="请输入" /></td>
                <td class="formValue">
                    <input type="file" id="F_MaxImage02picker" value="" />
                </td>
            </tr>
            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px; ">图3</th>
                <td class="formValue"><input id="F_Image03" name="F_Image03" maxlength="20" type="text" class="form-control required" placeholder="请输入" /></td>
                <td class="formValue">
                    <input type="file" id="F_MaxImage03picker" value="" />
                </td>
            </tr>
            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px; ">图4</th>
                <td class="formValue"><input id="F_Image04" name="F_Image04" maxlength="20" type="text" class="form-control required" placeholder="请输入" /></td>
                <td class="formValue">
                    <input type="file" id="F_MaxImage04picker" value="" />
                </td>
            </tr>
            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px; ">客户</th>
                <td class="formValue">
                    <select id="F_ClientId" name="F_ClientId" maxlength="20" type="text" class="form-control required" placeholder="请输入"></select>
                </td>
            </tr>
            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px; ">施工人员</th>
                <td class="formValue"><select id="F_ImplementId" name="F_ImplementId" maxlength="20" type="text" class="form-control required" placeholder="请输入"></select></td>
            </tr>
            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px; ">设计者</th>
                <td class="formValue"><select id="F_DesignId" name="F_DesignId" maxlength="20" type="text" class="form-control required" placeholder="请输入"></select></td>
            </tr>
            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px; ">项目管理者</th>
                <td class="formValue"><select id="F_ManageId" name="F_ManageId" maxlength="20" type="text" class="form-control required" placeholder="请输入"></select></td>
            </tr>
            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px; ">质量监督员</th>
                <td class="formValue"><select id="F_IPQC" name="F_IPQC" maxlength="20" type="text" class="form-control required" placeholder="请输入"></select></td>
            </tr>
            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px; ">状态</th>
                <td class="formValue"><input id="F_Status" name="F_Status" maxlength="20" type="text" class="form-control required" placeholder="请输入" /></td>
            </tr>
            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px; ">所属人</th>
                <td class="formValue"><input id="F_OwnerId" name="F_OwnerId" maxlength="20" type="text" class="form-control required" placeholder="请输入" /></td>
            </tr>
            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px; ">排序码</th>
                <td class="formValue"><input id="F_SortCode" name="F_SortCode" maxlength="20" type="text" class="form-control required" placeholder="请输入" /></td>
            </tr>
            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px; "></th>
                <td class="formValue"><input id="F_EnabledMark" name="F_EnabledMark" maxlength="20" type="text" class="form-control required" placeholder="请输入" /><label for="F_EnabledMark">有效</label></td>
            </tr>
            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px; ">描述</th>
                <td class="formValue"><textarea id="F_Description" name="F_Description" maxlength="500" class="form - control" style="height: 60px; "></textarea></td>
            </tr>
        </table>
    </div>
</form>


<script>


    document.getElementById('F_MInImagepicker').addEventListener('change', (e) => {
        let files = e.target.files;
        let formData = new FormData();
        formData.append("file", files[0]);
 $.ajax({
            url: '@Url.Action("PostFile", "Home")',
            data: formData,
            // 告诉jQuery不要去处理发送的数据
            processData: false,
            // 告诉jQuery不要去设置Content-Type请求头
            contentType: false,
            type: "post",
            dataType: "json",
            success: function (data) {
                $("#F_MInImage").val(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {

            },
            beforeSend: function () {
            },
            complete: function (data) {
            }
        });
    }, false);
    document.getElementById('F_MaxImage01picker').addEventListener('change', (e) => {
        let files = e.target.files;
        let formData = new FormData();
        formData.append("file", files[0]);
        @*let http = new XMLHttpRequest();
        http.open('POST', '@Url.Action("PostFile", "Home")', true);
        http.send(formData);*@

         $.ajax({
            url: '@Url.Action("PostFile", "Home")',
            data: formData,
            // 告诉jQuery不要去处理发送的数据
            processData: false,
            // 告诉jQuery不要去设置Content-Type请求头
            contentType: false,
            type: "post",
            dataType: "json",
            success: function (data) {
                $("#F_MaxImage01").val(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {

            },
            beforeSend: function () {
            },
            complete: function (data) {
            }
        });
    }, false);
        document.getElementById('F_MaxImage02picker').addEventListener('change', (e) => {
        let files = e.target.files;
        let formData = new FormData();
        formData.append("file", files[0]);
        @*let http = new XMLHttpRequest();
        http.open('POST', '@Url.Action("PostFile", "Home")', true);
            http.send(formData);*@
                  $.ajax({
            url: '@Url.Action("PostFile", "Home")',
            data: formData,
            // 告诉jQuery不要去处理发送的数据
            processData: false,
            // 告诉jQuery不要去设置Content-Type请求头
            contentType: false,
            type: "post",
            dataType: "json",
            success: function (data) {
                $("#F_MaxImage02").val(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {

            },
            beforeSend: function () {
            },
            complete: function (data) {
            }
        });
    }, false);
    document.getElementById('F_MaxImage03picker').addEventListener('change', (e) => {
        let files = e.target.files;
        let formData = new FormData();
        formData.append("file", files[0]);
        @*let http = new XMLHttpRequest();
        http.open('POST', '@Url.Action("PostFile", "Home")', true);
            http.send(formData);*@
                  $.ajax({
            url: '@Url.Action("PostFile", "Home")',
            data: formData,
            // 告诉jQuery不要去处理发送的数据
            processData: false,
            // 告诉jQuery不要去设置Content-Type请求头
            contentType: false,
            type: "post",
            dataType: "json",
            success: function (data) {
                $("#F_MaxImage03").val(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {

            },
            beforeSend: function () {
            },
            complete: function (data) {
            }
        });
    }, false);
    document.getElementById('F_MaxImage04picker').addEventListener('change', (e) => {
        let files = e.target.files;
        let formData = new FormData();
        formData.append("file", files[0]);
        @*let http = new XMLHttpRequest();
        http.open('POST', '@Url.Action("PostFile", "Home")', true);
            http.send(formData);*@
                  $.ajax({
            url: '@Url.Action("PostFile", "Home")',
            data: formData,
            // 告诉jQuery不要去处理发送的数据
            processData: false,
            // 告诉jQuery不要去设置Content-Type请求头
            contentType: false,
            type: "post",
            dataType: "json",
            success: function (data) {
                $("#F_MaxImage04").val(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {

            },
            beforeSend: function () {
            },
            complete: function (data) {
            }
        });
    }, false);
</script>
