@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "@Url.Action("GetFormJson", "Chart_Parameters_SPC")",//,
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                cache: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            });
        }
    });

    function initControl() {

    }
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "@Url.Content("~/ProductManage/Chart_Parameters_SPC/SubmitForm")?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                //$.currentWindow().$("#gridList").resetSelection();
                //$.currentWindow().$("#gridList").trigger("reloadGrid");
                $.currentWindow().$("#gridList").bootstrapTable('refresh');
                $.loading(false);
            }
        })
    }
</script>

<form id="form1">
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
            <tr>
<th class="formTitle" valign="top" style="padding-top: 5px; ">编码</th > 
<td class="formValue"><input id = "F_ChartId" name = "F_ChartId" maxlength = "20" type = "text" class="form-control required" placeholder="请输入" /></td>
</tr>
<tr>
<th class="formTitle" valign="top" style="padding-top: 5px; ">LCL</th > 
<td class="formValue"><input id = "F_LCL" name = "F_LCL" maxlength = "20" type = "text" class="form-control required" placeholder="请输入" /></td>
</tr>
<tr>
<th class="formTitle" valign="top" style="padding-top: 5px; ">CL</th > 
<td class="formValue"><input id = "F_CL" name = "F_CL" maxlength = "20" type = "text" class="form-control required" placeholder="请输入" /></td>
</tr>
<tr>
<th class="formTitle" valign="top" style="padding-top: 5px; ">UCL</th > 
<td class="formValue"><input id = "F_UCL" name = "F_UCL" maxlength = "20" type = "text" class="form-control required" placeholder="请输入" /></td>
</tr>
<tr>
<th class="formTitle" valign="top" style="padding-top: 5px; ">LSL</th > 
<td class="formValue"><input id = "F_LSL" name = "F_LSL" maxlength = "20" type = "text" class="form-control required" placeholder="请输入" /></td>
</tr>
<tr>
<th class="formTitle" valign="top" style="padding-top: 5px; ">USL</th > 
<td class="formValue"><input id = "F_USL" name = "F_USL" maxlength = "20" type = "text" class="form-control required" placeholder="请输入" /></td>
</tr>
<tr>
<th class="formTitle" valign="top" style="padding-top: 5px; ">1个点落在A区以外</th > 
<td class="formValue"><input id = "F_Rule1" name = "F_Rule1" maxlength = "20" type = "text" class="form-control required" placeholder="请输入" /></td>
</tr>
<tr>
<th class="formTitle" valign="top" style="padding-top: 5px; ">连续9个点落在中心线的同一侧</th > 
<td class="formValue"><input id = "F_Rule2" name = "F_Rule2" maxlength = "20" type = "text" class="form-control required" placeholder="请输入" /></td>
</tr>
<tr>
<th class="formTitle" valign="top" style="padding-top: 5px; ">连续6个点递增或递减</th > 
<td class="formValue"><input id = "F_Rule3" name = "F_Rule3" maxlength = "20" type = "text" class="form-control required" placeholder="请输入" /></td>
</tr>
<tr>
<th class="formTitle" valign="top" style="padding-top: 5px; ">连续14个点中相邻点交替上下</th > 
<td class="formValue"><input id = "F_Rule4" name = "F_Rule4" maxlength = "20" type = "text" class="form-control required" placeholder="请输入" /></td>
</tr>
<tr>
<th class="formTitle" valign="top" style="padding-top: 5px; ">连续3个点中有2个点落在中心线同一侧的B区以外</th > 
<td class="formValue"><input id = "F_Rule5" name = "F_Rule5" maxlength = "20" type = "text" class="form-control required" placeholder="请输入" /></td>
</tr>
<tr>
<th class="formTitle" valign="top" style="padding-top: 5px; ">连续5个点中有4个点落在中心线同一侧的C区以外</th > 
<td class="formValue"><input id = "F_Rule6" name = "F_Rule6" maxlength = "20" type = "text" class="form-control required" placeholder="请输入" /></td>
</tr>
<tr>
<th class="formTitle" valign="top" style="padding-top: 5px; ">连续15个点落在中心线两侧的C区以内</th > 
<td class="formValue"><input id = "F_Rule7" name = "F_Rule7" maxlength = "20" type = "text" class="form-control required" placeholder="请输入" /></td>
</tr>
<tr>
<th class="formTitle" valign="top" style="padding-top: 5px; ">连续8个点落在中心线两侧且无一在C区内</th > 
<td class="formValue"><input id = "F_Rule8" name = "F_Rule8" maxlength = "20" type = "text" class="form-control required" placeholder="请输入" /></td>
</tr>
<tr>
<th class="formTitle" valign="top" style="padding-top: 5px; ">豁免周期(天)</th > 
<td class="formValue"><input id = "F_ExemptionDay" name = "F_ExemptionDay" maxlength = "20" type = "text" class="form-control required" placeholder="请输入" /></td>
</tr>
<tr>
<th class="formTitle" valign="top" style="padding-top: 5px; ">排序码</th > 
<td class="formValue"><input id = "F_SortCode" name = "F_SortCode" maxlength = "20" type = "text" class="form-control required" placeholder="请输入" /></td>
</tr>
<tr>
<th class="formTitle" valign="top" style="padding-top: 5px; ">有效标志</th > 
<td class="formValue"><input id = "F_EnabledMark" name = "F_EnabledMark" maxlength = "20" type = "text" class="form-control required" placeholder="请输入" /><label for="F_EnabledMark">有效</label></td>
</tr>

        </table>
    </div>
</form>
