@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<style>
</style>
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "@Url.Action("GetFormJson", "CPKCase")",//,
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                cache: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            });
        }
    });

    function initControl() {

    }
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        debugger;
        $.submitForm({
            url: "@Url.Content("~/ProductManage/CPKCase/SubmitForm")?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                debugger;
                //$.currentWindow().$("#gridList").resetSelection();
                //$.currentWindow().$("#gridList").trigger("reloadGrid");
                $.currentWindow().$("#gridList").bootstrapTable('refresh');
                $.loading(false);
            }
        })
    }
</script>

<form id="form1">
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px; ">编码</ th >
                <td class="formValue"><input id="F_EnCode" name="F_EnCode" maxlength="20" type="text" class="form-control required" placeholder="请输入" /> </td>
            </tr>
            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px; ">名称</ th >
                <td class="formValue"><input id="F_FullName" name="F_FullName" type="text" class="form-control required" placeholder="请输入" /> </td>
            </tr>
            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px; ">类型</ th >
                <td class="formValue"><input id="F_Type" name="F_Type" maxlength="20" type="text" class="form-control required" placeholder="请输入" /> </td>
            </tr>
            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px; ">显示列表图</ th >
                <td class="formValue"><input id="F_Image" name="F_Image" type="text" class="form-control required" placeholder="请输入" /> </td>
                <td class="formValue">
                    <input type="file" id="picker" value="" />
                </td>
            </tr>
            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px; ">小图</th>
                <td class="formValue"><input id="F_MInImage" name="F_MInImage" type="text" class="form-control required" placeholder="请输入" /></td>
                <td class="formValue">
                    <input type="file" id="F_MInImagepicker" value="" />
                </td>
            </tr>
            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px; ">详细图1</th>
                <td class="formValue"><input id="F_MaxImage01" name="F_MaxImage01" type="text" class="form-control required" placeholder="请输入" /></td>
                <td class="formValue">
                    <input type="file" id="F_MaxImage01picker" value="" />
                </td>
            </tr>
            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px; ">详细图2</th>
                <td class="formValue"><input id="F_MaxImage02" name="F_MaxImage02" type="text" class="form-control required" placeholder="请输入" /></td>
                <td class="formValue">
                    <input type="file" id="F_MaxImage02picker" value="" />
                </td>
            </tr>
            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px; ">详细图3</th>
                <td class="formValue"><input id="F_MaxImage03" name="F_MaxImage03" type="text" class="form-control required" placeholder="请输入" /></td>
                <td class="formValue">
                    <input type="file" id="F_MaxImage03picker" value="" />
                </td>
            </tr>
            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px; ">详细图4</th>
                <td class="formValue"><input id="F_MaxImage04" name="F_MaxImage04" type="text" class="form-control required" placeholder="请输入" /> </td>
                <td class="formValue">
                    <input type="file" id="F_MaxImage04picker" value="" />
                </td>
            </tr>
            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px; ">排序码</th>
                <td class="formValue"><input id="F_SortCode" name="F_SortCode" maxlength="20" type="text" class="form-control required" placeholder="请输入" /> </td>
            </tr>

            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px; ">描述</th>
                <td class="formValue"><input id="F_Description" name="F_Description" maxlength="20" type="text" class="form-control required" placeholder="请输入" /> </td>
            </tr>

        </table>
    </div>
</form>
<script>


    document.getElementById('picker').addEventListener('change', (e) => {
        let files = e.target.files;
        let formData = new FormData();
        formData.append("file", files[0]);
       // formData.append('file', $('#picker')[0].files[0]);
        @*let http = new XMLHttpRequest();
        http.open('POST', '@Url.Action("PostFile", "Home")', true);
        http.send(formData);*@
        $.ajax({
            url: '@Url.Action("PostFile", "Home")',
            data: formData,
            // 告诉jQuery不要去处理发送的数据
            processData: false,
            // 告诉jQuery不要去设置Content-Type请求头
            contentType: false,
            type: "post",
            dataType: "json",
            success: function (data) {
                console.log(data);
                $("#F_Image").val(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest);
                console.log(textStatus);
                console.log(errorThrown);
            },
            beforeSend: function (data) {
                console.log(data);
            },
            complete: function (data) {
                console.log(data);
            }
        });
    }, false);
    document.getElementById('F_MInImagepicker').addEventListener('change', (e) => {
        let files = e.target.files;
        let formData = new FormData();
        formData.append("file", files[0]);
 $.ajax({
            url: '@Url.Action("PostFile", "Home")',
            data: formData,
            // 告诉jQuery不要去处理发送的数据
            processData: false,
            // 告诉jQuery不要去设置Content-Type请求头
            contentType: false,
            type: "post",
            dataType: "json",
     success: function (data) {
         console.log(data);
                $("#F_MInImage").val(data);
            },
             error: function (XMLHttpRequest, textStatus, errorThrown) {
                 console.log(XMLHttpRequest);
                 console.log(textStatus);
                 console.log(errorThrown);
             },
             beforeSend: function (data) {
                 console.log(data);
             },
             complete: function (data) {
                 console.log(data);
             }
        });
    }, false);
    document.getElementById('F_MaxImage01picker').addEventListener('change', (e) => {
        let files = e.target.files;
        let formData = new FormData();
        formData.append("file", files[0]);
        @*let http = new XMLHttpRequest();
        http.open('POST', '@Url.Action("PostFile", "Home")', true);
        http.send(formData);*@

         $.ajax({
            url: '@Url.Action("PostFile", "Home")',
            data: formData,
            // 告诉jQuery不要去处理发送的数据
            processData: false,
            // 告诉jQuery不要去设置Content-Type请求头
            contentType: false,
            type: "post",
            dataType: "json",
             success: function (data) {
                 console.log(data);
                $("#F_MaxImage01").val(data);
            },
             error: function (XMLHttpRequest, textStatus, errorThrown) {
                 console.log(XMLHttpRequest);
                 console.log(textStatus);
                 console.log(errorThrown);
             },
             beforeSend: function (data) {
                 console.log(data);
             },
             complete: function (data) {
                 console.log(data);
             }
        });
    }, false);
        document.getElementById('F_MaxImage02picker').addEventListener('change', (e) => {
        let files = e.target.files;
        let formData = new FormData();
        formData.append("file", files[0]);
        @*let http = new XMLHttpRequest();
        http.open('POST', '@Url.Action("PostFile", "Home")', true);
            http.send(formData);*@
                  $.ajax({
            url: '@Url.Action("PostFile", "Home")',
            data: formData,
            // 告诉jQuery不要去处理发送的数据
            processData: false,
            // 告诉jQuery不要去设置Content-Type请求头
            contentType: false,
            type: "post",
            dataType: "json",
            success: function (data) {
                          console.log(data);
                $("#F_MaxImage02").val(data);
            },
                      error: function (XMLHttpRequest, textStatus, errorThrown) {
                          console.log(XMLHttpRequest);
                          console.log(textStatus);
                          console.log(errorThrown);
                      },
                      beforeSend: function (data) {
                          console.log(data);
                      },
                      complete: function (data) {
                          console.log(data);
                      }
        });
    }, false);
    document.getElementById('F_MaxImage03picker').addEventListener('change', (e) => {
        let files = e.target.files;
        let formData = new FormData();
        formData.append("file", files[0]);
        @*let http = new XMLHttpRequest();
        http.open('POST', '@Url.Action("PostFile", "Home")', true);
            http.send(formData);*@
                  $.ajax({
            url: '@Url.Action("PostFile", "Home")',
            data: formData,
            // 告诉jQuery不要去处理发送的数据
            processData: false,
            // 告诉jQuery不要去设置Content-Type请求头
            contentType: false,
            type: "post",
            dataType: "json",
            success: function (data) {
                          console.log(data);
                $("#F_MaxImage03").val(data);
            },
           error: function (XMLHttpRequest, textStatus, errorThrown) {
                          console.log(XMLHttpRequest);
                          console.log(textStatus);
                          console.log(errorThrown);
                },
           beforeSend: function (data) {
                          console.log(data);
              },
           complete: function (data) {
                          console.log(data);
                      }
        });
    }, false);
    document.getElementById('F_MaxImage04picker').addEventListener('change', (e) => {
        let files = e.target.files;
        let formData = new FormData();
        formData.append("file", files[0]);
        @*let http = new XMLHttpRequest();
        http.open('POST', '@Url.Action("PostFile", "Home")', true);
            http.send(formData);*@
                  $.ajax({
            url: '@Url.Action("PostFile", "Home")',
            data: formData,
            // 告诉jQuery不要去处理发送的数据
            processData: false,
            // 告诉jQuery不要去设置Content-Type请求头
            contentType: false,
            type: "post",
            dataType: "json",
            success: function (data) {
                $("#F_MaxImage04").val(data);
            },
                      error: function (XMLHttpRequest, textStatus, errorThrown) {
                          console.log(XMLHttpRequest);
                          console.log(textStatus);
                          console.log(errorThrown);
                      },
                      beforeSend: function (data) {
                          console.log(data);
                      },
                      complete: function (data) {
                          console.log(data);
                      }
        });
    }, false);
</script>
