﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_VueForm.cshtml";
}
<environment>
    <script src="~/js/loading/pace.min.js"></script>
</environment>
<div id='app'>
    <el-container style=" position:absolute; left:0; top:0; width:100%;height:100%;border: 1px solid #eee" >
        <el-aside width="330px">
            <el-header>
                <el-radio-group v-model="stype" size="mini" style="margin-top:20px">
                    <el-radio-button label="danger">@Localizer["Issue"]</el-radio-button>
                    <el-radio-button label="normal" >@Localizer["Normal"]</el-radio-button>
                    <el-radio-button label="all">@Localizer["All"]</el-radio-button>
                </el-radio-group>
                <el-switch style="margin-top:20px" size="mini" v-model="isAutorefresh" active-text="@Localizer["Auto"]" v-on:change="autorefresh"></el-switch>
            </el-header>
            <el-card>
                <template v-for="item in monitorlist" v-if="stype=='danger'?(!!item.description):(stype=='normal'?(!item.description):(stype=='all'))">
                    <span>
                        <el-tooltip class="item" effect="dark" placement="right" :disabled="!item.description">
                            <div slot="content" v-html="item.description.replace(/\n/g,'<br/>')"></div>
                            <el-button style="width:280px;height:60px;margin-top:5px" :type="!!item.description?'danger':'success'" v-on:click="showpreview(item.chartId,item.chartName)" :active="item.chartId==selectChart">
                                    <el-row>{{item.chartName}}</el-row>
                                    <el-row>{{item.startTime}}</el-row>
                            </el-button>
                        </el-tooltip>
                    </span>
                </template>
            </el-card>
        </el-aside>
        <el-container>
            <el-header style="vertical-align:middle;">
                <H3 style="margin-left:20px">{{selectChartName}}</H3>
            </el-header>
            <el-main>
                <iframe :src="previewurl" width="100%"  style="border:0px" onload="this.style.height=Math.max(this.contentWindow.document.body.scrollHeight,this.contentWindow.document.documentElement.scrollHeight,200)+'px';"></iframe>
            </el-main>
        </el-container>
    </el-container>
</div>
<script>
    var app = new Vue(
        {
            el:"#app",
            data:{
                monitorlist:[],
                previewurl:"",
                selectChart:"",
                stype:"danger",
                isAutorefresh:true,
                selectChartName:"",
            },
            methods:{
                showpreview(chartId,chartName)
                {
                    this.selectChart=chartId;
                     this.selectChartName=chartName;
                     axios.get(
                                "@Url.Content("~/ProductManage/Chart/GetMonitorDateNow")",
                                {params:{
                                    keyValue: chartId 
                                }}).then(function(resp)
                            {
                                app.previewurl= "@Url.Content("~/ProductManage/Chart/Preview")?keyValue=" + chartId +"&startTime="+resp.data.startTime+"&endTime="+resp.data.endTime;
                            });
                },
                refresh()
                {
                    axios.get(
                                "@Url.Content("~/Home/GetMonitorList")",
                                {params:{
                                }}).then(function(resp)
                            {
                                app.monitorlist=resp.data;  
                            });
                },
                autorefresh()
                {
                    if(this.isAutorefresh)
                    {
                        this.refresh();
                    }
                },
            },
            created:function()
            {

            },
            mounted: function()
            {
                this.refresh();
            }
        }  
    );
    setInterval('app.autorefresh()', 5*60000); //每分钟刷新一次
    </script>
<style>
    .pace .pace-progress{background-color:#e93224;position: fixed;z-index: 2000;top: 0;left: 0;height: 2px;transition: width 1s;}
    .pace-inactive{display: none}
</style>
