﻿@{
     Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <environment>
        <!-- <link href="~/css/framework-font.css" rel="stylesheet" />
        <link href="~/css/framework-ui.css" rel="stylesheet" />
        <script src="~/js/jquery/jquery-2.1.1.min.js"></script>
        <link href="~/css/framework-theme.css" rel="stylesheet" />
        <link href="~/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
        <link href="~/css/framework-theme.css" rel="stylesheet" />
        <script src="~/js/charts/Chart.js"></script> -->
        <link href="~/css/framework-font.css" rel="stylesheet" />
        <link href="~/css/framework-theme.css" rel="stylesheet" />
        <script src="~/js/jquery/jquery-2.1.1.min.js"></script>
        <script src="~/js/bootstrap/bootstrap.js"></script>
        <link href="~/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
        <link href="~/css/framework-ui.css" rel="stylesheet" />
        <script src="~/js/framework-ui.js"></script>
        <script src="~/js/loading/pace.min.js"></script>
    </environment>
    <script>
        setInterval('myrefresh()', 5*60000); //每分钟刷新一次
        $(function () {
            $("#processDetail").height(window.innerHeight-70);
            $("#preview").height(window.innerHeight-70);
            myrefresh();
        });
        function myrefresh() {
            //$.loading(true,"刷新中");
            var selectid = $("#processDetail button.active").attr('data-value');
            //相关处理
             $.ajax({
                url: "@Url.Content("~/Home/GetMonitorList")",
                data: { },
                dataType: "json",
                async: true,
                cache: false,
                success: function (data) {
                   debugger;
                   var sHtml="";
                   $("#processDetail").html("");
                   $("#processDetail").height(window.innerHeight-70);
                   for(var index in data)
                   {

                        //sHtml=sHtml+'<div class="btn btn-danger labletitle gybox" style="width:20%" onlclick="showmonitor("'+data.rows[index].F_Id+'")">'
                        //sHtml=sHtml+'                     <span>'+data.rows[index].F_EnCode+'</span>';
                        //sHtml=sHtml+'                </div>';
                        var item = document.createElement("button");
                        item.id=data[index].chartId;
                        item.setAttribute("type","button");
                        item.setAttribute("class","btn btn-danger gybox");
                        item.setAttribute("style","width:95%;margin-top:1%;margin-right:2%;margin-left:2%;margin-bottom:1%;");
                        item.setAttribute('data-value',item.id);
                        item.onclick= function() {
                            $("#processDetail").children().removeClass("active");
                            $("#"+this.id).addClass("active");  
                            showmonitor(this.id);
                        };
                        var itemspan = document.createElement("span");
                        itemspan.innerHTML=data[index].chartName;
                        item.appendChild(itemspan);
                        var itemlasttime = document.createElement("span");
                        itemlasttime.innerHTML=data[index].startTime;
                        item.appendChild(itemlasttime);
                        //var itemdesc = document.createElement("span");
                        //itemdesc.innerHTML=data[index].description;
                        //item.appendChild(itemdesc);
                        document.getElementById("processDetail").appendChild(item);
                        $("#"+item.id).tooltip();
                        $("#"+item.id).attr("title",data[index].description)
                        
                   }
                   //$("#processDetail").html(sHtml);
                   $.loading(false);
                   var selectbtn=$("#"+selectid);
                   if(!!selectbtn)
                   {
                       selectbtn.click();  
                   }
                }
            });
        }
        window.onresize = function () {
            //wipChart.resize();
            //ophChart.resize();
            //myrefresh();
        }
    function showmonitor(keyValue) {
        $.ajax({
                url: "@Url.Content("~/ProductManage/Chart/GetMonitorDateNow")",//,
                data: { keyValue: keyValue },
                dataType: "json",
                async: true,
                cache: false,
                success: function (data) {
                    var url= "@Url.Content("~/ProductManage/Chart/Preview")?keyValue=" + keyValue+"&startTime="+data.startTime+"&endTime="+data.endTime;
                    //var iframeheight=window.innerHeight-70;
                    window.open(url,'preview','');
                    $("#preview").height(window.innerHeight-70);
                }
            });
    }
    </script>
</head>
<body>
    @*<section id="cd-timeline" class="cd-container"></section>*@
    <!-- <div id="areascontent">
        <div class="rows" style="margin-bottom: 1%; border: 1px solid #e6e6e6; overflow: hidden; padding-left: 1px; background-color:white">
            <div style="float:left;width:30%">
                <div style="border: 1px solid #e6e6e6; background-color: #fff;">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-user fa-lg" style="padding-right: 5px;"></i>登录信息
                        </div>
                        <div class="panel-body">
                            <div id="user-left-box" class="clearfix">
                                <img src="~/img/userheadicon.png" alt="" />
                                <div class="user-box" style="color:black;">
                                    <span class="name">
                                        @CPK.Code.OperatorProvider.Provider.GetCurrent().UserCode;@CPK.Code.OperatorProvider.Provider.GetCurrent().UserName
                                    </span>
                                    <span class="status">
                                        <i class="fa fa-history"></i>登录时间:@CPK.Code.OperatorProvider.Provider.GetCurrent().LoginTime
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            @*<div style="float:right;width:69%">
                <div style="border: 1px solid #e6e6e6; background-color: #fff;">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-line-chart fa-lg" style="padding-right: 5px;"></i>关键数据实时指标
                            <div style="float: right; position: relative; top: -4px; right: 0px;">
                                <iframe name="weather_inc" src="http://i.tianqi.com/index.php?c=code&id=1" width="360" height="35" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="dashboard-stats">
                                <div class="dashboard-stats-item" style="background-color: #fc8675;">
                                    <h2 class="m-top-none">8</h2>
                                    <h5>对私待处理任务</h5>
                                    <div class="stat-icon">
                                        <i class="fa fa-user fa-3x"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="dashboard-stats">
                                <div class="dashboard-stats-item" style="background-color: #6bafbd;">
                                    <h2 class="m-top-none">12</h2>
                                    <h5>对私待签收任务</h5>
                                    <div class="stat-icon">
                                        <i class="fa fa-hdd-o fa-3x"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="dashboard-stats">
                                <div class="dashboard-stats-item" style="background-color: #f3ce85;">
                                    <h2 class="m-top-none">2</h2>
                                    <h5>对公待处理任务</h5>
                                    <div class="stat-icon">
                                        <i class="fa fa-shopping-cart fa-3x"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="dashboard-stats">
                                <div class="dashboard-stats-item" style="background-color: #949FB1;">
                                    <h2 class="m-top-none">6</h2>
                                    <h5>对公待签收任务</h5>
                                    <div class="stat-icon">
                                        <i class="fa fa-gavel fa-3x"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="dashboard-stats">
                                <div class="dashboard-stats-item" style="background-color: #65cea7; margin-right: 0px;">
                                    <h2 class="m-top-none">268</h2>
                                    <h5>本月交易订单数量</h5>
                                    <div class="stat-icon">
                                        <i class="fa fa-truck fa-3x"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        <!-- </div> -->
        @*<div class="rows" style="margin-bottom: 1%; overflow: hidden;">
            <div style="float: left; width: 69%;">
                <div style="height: 350px; border: 1px solid #e6e6e6; background-color: #fff;">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-area-chart fa-lg" style="padding-right: 5px;"></i>考勤统计
                            <div style="float: right">
                                <span style="font-weight: 500;"><i class="fa fa-square" style="color: #dcdcdc; font-size: 20px; padding-right: 5px; vertical-align: middle; margin-top: -3px;"></i>迟到</span>
                                <span style="margin-left: 10px; font-weight: 500;"><i class="fa fa-square" style="color: #97bbcd; font-size: 20px; padding-right: 5px; vertical-align: middle; margin-top: -3px;"></i>缺卡</span>
                            </div>
                        </div>
                        <div class="panel-body" style="padding-bottom: 0px;">
                            <canvas id="salarychart" style="height: 285px; width: 100%; padding-right: 10px;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div style="float: right; width: 30%;">
                <div style="height: 350px; border: 1px solid #e6e6e6; background-color: #fff;">
                    <div class="panel panel-default">
                        <div class="panel-heading"><i class="fa fa-pie-chart fa-lg" style="padding-right: 5px;"></i>请假统计</div>
                        <div class="panel-body" style="padding-top: 20px;">
                            <canvas id="leavechart" style="height: 160px; width: 100%;"></canvas>
                            <div style="text-align: center; padding-top: 20px;">
                                <span><i class="fa fa-square" style="color: #F7464A; font-size: 20px; padding-right: 5px; vertical-align: middle; margin-top: -3px;"></i>事假</span>
                                <span style="margin-left: 10px;"><i class="fa fa-square" style="color: #46BFBD; font-size: 20px; padding-right: 5px; vertical-align: middle; margin-top: -3px;"></i>病假</span>
                                <span style="margin-left: 10px;"><i class="fa fa-square" style="color: #FDB45C; font-size: 20px; padding-right: 5px; vertical-align: middle; margin-top: -3px;"></i>公休假</span>
                                <span style="margin-left: 10px;"><i class="fa fa-square" style="color: #949FB1; font-size: 20px; padding-right: 5px; vertical-align: middle; margin-top: -3px;"></i>调休假</span>
                            </div>
                            <div style="margin-top: 20px; padding-top: 18px; height: 60px; border-top: 1px solid #e6e6e6;">
                                <div style="width: 25%; text-align: center; float: left;">
                                    <span id="a_value">16.5小时</span>
                                    <p style="color: #a1a1a1">事假</p>
                                </div>
                                <div style="width: 25%; text-align: center; float: left;">
                                    <span id="b_value">7.5小时</span>
                                    <p style="color: #a1a1a1">病假</p>
                                </div>
                                <div style="width: 25%; text-align: center; float: left;">
                                    <span id="c_value">13小时</span>
                                    <p style="color: #a1a1a1">公休假</p>
                                </div>
                                <div style="width: 25%; text-align: center; float: left;">
                                    <span id="d_value">19小时</span>
                                    <p style="color: #a1a1a1">调休假</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rows" style="overflow: hidden;">
            <div style="float: left; width: 34%; margin-right: 1%;">
                <div style="height: 265px; border: 1px solid #e6e6e6; background-color: #fff;">
                    <div class="panel panel-default">
                        <div class="panel-heading"><i class="fa fa-thumbs-o-up fa-lg" style="padding-right: 5px;"></i>最新签约</div>
                        <div class="panel-body">
                            <ul>
                                <li><a href="#">南京森鹿皮件服饰有限公司</a><span class="time">2016-07-21</span></li>
                                <li><a href="#">曲靖市绿能燃气运输有限公司</a><span class="time">2016-07-20</span></li>
                                <li><a href="#">青海航天信息有限公司</a><span class="time">2016-07-19</span></li>
                                <li><a href="#">吉林省蔬菜花卉科学研究院</a><span class="time">2016-07-17</span></li>
                                <li><a href="#">青海省广播电视信息网络股份有限公司</a><span class="time">2016-07-17</span></li>
                                <li><a href="#">国营长空精密机械制造公司</a><span class="time">2016-07-13</span></li>
                                <li><a href="#">广东友元国土信息工程有限公司</a><span class="time">2016-07-12</span></li>
                                <li><a href="#">广东友元国土信息工程有限公司</a><span class="time">2016-07-12</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div style="float: left; width: 34%; margin-right: 1%;">
                <div style="height: 265px; border: 1px solid #e6e6e6; background-color: #fff;">
                    <div class="panel panel-default">
                        <div class="panel-heading"><i class="fa fa-rss fa-lg" style="padding-right: 5px;"></i>通知公告</div>
                        <div class="panel-body">
                            <ul>
                                <li><a href="#">【通知】新版员工守则，即日执行</a><span class="time">2016-07-21</span></li>
                                <li><a href="#">【公告】OA办公使用指南</a><span class="time">2016-07-21</span></li>
                                <li><a href="#">【公告】劳动节集体出游指南</a><span class="time">2016-07-21</span></li>
                                <li><a href="#">【通知】2016年G20财长和央行行</a><span class="time">2016-07-21</span></li>
                                <li><a href="#">【通知】2016年G20财长和央行行</a><span class="time">2016-07-21</span></li>
                                <li><a href="#">【通知】品牌价值的最佳选择</a><span class="time">2016-07-21</span></li>
                                <li><a href="#">【公告】采购商城全新升级自营业正品</a><span class="time">2016-07-21</span></li>
                                <li><a href="#">【公告】采购商城全新升级自营业正品</a><span class="time">2016-07-21</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div style="float: right; width: 30%;">
                <div style="height: 265px; border: 1px solid #e6e6e6; background-color: #fff;">
                    <div class="panel panel-default">
                        <div class="panel-heading"><i class="fa fa-send fa-lg" style="padding-right: 5px;"></i>企业文化</div>
                        <div class="panel-body">
                            <ul>
                                <li><a href="#">创新企业党建思想政治工作</a><span class="time">2016-07-02</span></li>
                                <li><a href="#">现代国有企业道德体系初构</a><span class="time">2016-06-18</span></li>
                                <li><a href="#">国有企业文化问题根源及文化重塑任务分析</a><span class="time">2016-06-26</span></li>
                                <li><a href="#">国有企业文化建设必须突出员工文化</a><span class="time">2016-04-20</span></li>
                                <li><a href="#">加强企业公民建设 推进企业和谐发展</a><span class="time">2016-03-08</span></li>
                                <li><a href="#">不断提升大庆精神 实现企业持续发展</a><span class="time">2016-02-22</span></li>
                                <li><a href="#">科学发展作指导 人水和谐路更宽</a><span class="time">2016-02-15</span></li>
                                <li><a href="#">科学发展作指导 人水和谐路更宽</a><span class="time">2016-02-15</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
            <div class="ui-layout-west">
                <!-- <div id="processTab" class="rows" style="margin-bottom: 1%; overflow: hidden;"> -->
                    <div style="float: left; width: 20%; margin-left:10px;">
                        <div style="height: 70%; border: 1px solid #e6e6e6; background-color: #fff;">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-database fa-lg" style="padding-right: 5px;"></i>Monitor
                                </div>
                                <div class="panel-body" style="padding-bottom: 0px;overflow-y:auto;">
                                    <div id="processDetail" class="btn-group-vertica">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- </div> -->
            </div>
            <div class="ui-layout-center">
                <div style="float: left; width: 78%;margin-left:10px">
                        <div style="height: 70%; border: 1px solid #e6e6e6; background-color: #fff;">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-line-chart fa-lg" style="padding-right: 5px;"></i>Chart
                                </div>
                                <div class="panel-body" style="padding-bottom: 0px;">
                                     <iframe id="preview" name="preview" width="100%" frameborder="0" style="margin-top:0px;margin-left:2%"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        
    </div>
    <style>
        .labletitle {
            display: inline-block;
            width: 8rem;
            font-weight: bolder;
        }

        .gybox {
            height: 5rem;
            width: 10rem;
            line-height: 10rem;
            word-wrap: break-word;
            align-items: center;
            justify-content: center;
            vertical-align: middle;
        }

            .gybox span {
                display: block;
                font-size: 1.3rem;
                line-height: 2.2rem;
            }
        #copyrightcontent {
            height: 30px;
            line-height: 29px;
            overflow: hidden;
            position: absolute;
            top: 100%;
            margin-top: -30px;
            width: 100%;
            background-color: #fff;
            border: 1px solid #e6e6e6;
            padding-left: 10px;
            padding-right: 10px;
        }

        .dashboard-stats {
            float: left;
            width: 20%;
        }

        .dashboard-stats-item {
            position: relative;
            overflow: hidden;
            color: #fff;
            cursor: pointer;
            height: 105px;
            margin-right: 25px;
            margin-bottom: 10px;
            padding: 20px 20px;
        }

            .dashboard-stats-item .m-top-none {
                margin-top: 2px;
            }

            .dashboard-stats-item h2 {
                font-size: 35px;
                font-family: inherit;
                line-height: 1.1;
                font-weight: 500;
            }

            .dashboard-stats-item h5 {
                font-size: 14px;
                font-family: inherit;
                margin-top: 3px;
                line-height: 1.1;
            }


            .dashboard-stats-item .stat-icon {
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 30px;
                opacity: .3;
            }

        .dashboard-stats i.fa.stats-icon {
            width: 50px;
            padding: 20px;
            font-size: 50px;
            text-align: center;
            color: #fff;
            height: 50px;
            border-radius: 10px;
        }

        .panel-default {
            border: none;
            border-radius: 0px;
            margin-bottom: 0px;
            box-shadow: none;
            -webkit-box-shadow: none;
        }

            .panel-default > .panel-heading {
                color: #777;
                background-color: #fff;
                border-color: #e6e6e6;
                padding: 10px 10px;
            }

            .panel-default > .panel-body {
                padding: 10px;
                padding-bottom: 0px;
            }

                .panel-default > .panel-body ul {
                    overflow: hidden;
                    padding: 0;
                    margin: 0px;
                    margin-top: -5px;
                }

                    .panel-default > .panel-body ul li {
                        line-height: 27px;
                        list-style-type: none;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }

                        .panel-default > .panel-body ul li .time {
                            color: #a1a1a1;
                            float: right;
                            padding-right: 5px;
                        }
    </style>
</body>
</html>
