﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    Layout = null;
}
<!DOCTYPE html>
<html style="overflow: hidden;">
<head>
    <title>SPC-@Localizer["SiteTitle"]</title>
    <environment>
        <link href="~/css/framework-font.css" rel="stylesheet" />
        <script src="~/js/jquery/jquery-2.1.1.min.js"></script>
        <script src="~/js/bootstrap/bootstrap.js"></script>
        <link href="~/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
        <script src="~/js/dialog/dialog.js"></script>
        <script src="~/js/cookie/jquery.cookie.js"></script>
        <link href="~/css/framework-theme.css" rel="stylesheet" />
        <script src="~/js/framework-ui.js"></script>
        <script src="~/js/framework-clientdata.js"></script>
    </environment>
    <script>localStorage.setItem('config-skin', 'theme-honeywell');</script>
</head>
<body style="overflow: hidden;">
    <div id="ajax-loader" style="cursor: progress; position: fixed; top: -50%; left: -50%; width: 200%; height: 200%; background: #fff; z-index: 10000; overflow: hidden;">
        <img src="~/img/ajax-loader.gif" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto;" />
    </div>
    <div id="theme-wrapper">
        <header class="navbar" id="header-navbar">
            <div class="container" style="padding-right: 0px;line-height:50px">
                @*<a href="@Url.Action("Index","Home")" id="logo" class="navbar-brand" >CPK</a>*@
                <div class="clearfix">
                    @*<div class="nav-no-collapse navbar-left pull-left hidden-sm hidden-xs">
                            <ul class="nav navbar-nav pull-left">
                                <li>
                                    <a class="btn" id="make-small-nav"><i class="fa fa-bars"></i></a>
                                </li>
                            </ul>
                        </div>*@
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="float:left;vertical-align:middle">
                        <i class="fa fa-bars fa-2x"></i>
                    </button>
                    <a href="@Url.Action("Index","Home")" class="hidden-sm hidden-xs" style="margin-left:14px;vertical-align:middle">
                        <img alt="logo" src="@Url.Content("~/img/Logo.png")" onerror="this.src = '@Url.Content("~/img/Logo.png")'; this.onerror = null" />
                    </a>
                    <a href="@Url.Action("Index","Home")" style="margin-left:14px;padding-left:14px;border-left:2px #B2B2B2 solid;vertical-align:middle;font-family: RPSEN-1,RPSCN-1,'Microsoft YaHei'; font-size: 20px; color: #404040; text-decoration: none; overflow:hidden;">
                        SPC and CPK Monitor
                    </a>
                    @*<div style="position: absolute; left: 219px; top: 19px;">
                            <img src="@Url.Content("~/img/header_line.png")" alt="" />
                        </div>*@
                    @*<a class="btn" href="@Url.Action("Index","Home")" style="vertical-align:middle;">
                            <img src="@Url.Content("~/img/Logo.png")" />
                            <label style="font-size:x-large;vertical-align:bottom">Lite MES</label>
                        </a>*@
                    <div class="nav-no-collapse pull-right" id="header-nav">
                        <ul class="nav navbar-nav pull-right">
                            @*<li class="mobile-search">
                                                        <a class="btn">
                                                            <i class="fa fa-search"></i>
                                                        </a>
                                                        <div class="drowdown-search">
                                                            <form role="search">
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control" placeholder="Search...">
                                                                    <i class="fa fa-search nav-search-icon"></i>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </li>
                                                    <li class="dropdown hidden-xs">
                                    <a class="btn dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-tasks"></i>
                                        <span class="count">5</span>
                                    </a>
                                </li>
                                <li class="dropdown hidden-xs">
                                    <a class="btn dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-bell"></i>
                                        <span class="count">8</span>
                                    </a>
                                </li>

                                <li class="dropdown hidden-xs">
                                    <a class="btn dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-envelope-o"></i>
                                        <span class="count">16</span>
                                    </a>
                                </li>*@
                            @*<li>
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                        <i class="fa fa-bars fa-2x"></i>
                                    </button>
                                </li>*@
                            <li>
                                @await Html.PartialAsync("_SelectLanguagePartial")
                            </li>
                            <li class="dropdown profile-dropdown">
                                <a href="#" class="dropdown" data-toggle="dropdown">
                                    <img src="~/img/userheadicon.png" alt="" />
                                    <span class="hidden-xs hidden-sm">&nbsp;@CPK.Code.OperatorProvider.Provider.GetCurrent().UserCode&nbsp;</span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-left">
                                    <!-- <li><a class="menuItem" data-id="userInfo" href=@Url.Content("~/BaseData/User/Info")><i class="fa fa-edit"></i><span class="hidden-xs hidden-sm">个人信息</span></a></li> -->
                                    @*<li><a href="javascript:void(0);"><i class="fa fa-inbox"></i>我的信箱</a></li>*@
                                    <li><a href="javascript:localStorage.clear();layer.msg('浏览器缓存清除成功');$.reload();"><i class="fa fa-trash-o"></i><span class="hidden-xs hidden-sm">清空缓存</span></a></li>
                                    <!-- <li><a href="javascript:btn_Theme();"><i class="fa fa-paint-brush"></i><span class="hidden-xs hidden-sm">皮肤设置</span></a></li> -->
                                    <li class="divider"></li>
                                    <li><a href="@Url.Action("OutLogin", "Login")"><i class="ace-icon fa fa-power-off"></i><span class="hidden-xs hidden-sm">安全退出</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div id="page-wrapper" class="container">
            <div class="row">
                <div id="nav-col">
                    <section id="col-left" class="col-left-nano-content">
                        <div id="col-left-inner" class="col-left-nano-content">
                            @*<div id="user-left-box" class="clearfix hidden-sm hidden-xs dropdown profile2-dropdown">
                                   <img src="@Url.Content("~/BaseData/User/GetImage")?KeyValue=@CPK.Code.OperatorProvider.Provider.GetCurrent().UserId" alt="" />
                                       <div class="user-box">
                                           <span class="name">
                                               @CPK.Code.OperatorProvider.Provider.GetCurrent().UserCode;@CPK.Code.OperatorProvider.Provider.GetCurrent().UserName
                                           </span>
                                           <span class="status">
                                               <i class="fa fa-circle"></i>在线
                                           </span>
                                       </div>
                                </div>*@
                            @*<div class="clearfix">
                                    <div class="nav-no-collapse navbar-left pull-left hidden-sm hidden-xs">
                                        <ul class="nav navbar-nav pull-left">
                                            <li>
                                                <a class="btn" style="border-radius:0px" id="make-small-nav"><i class="fa fa-bars"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>*@
                            <div class="navbar-collapse collapse navbar-ex1-collapse" id="sidebar-nav" style="overflow-y:scroll">
                                <ul class="nav nav-pills nav-stacked">
                                    @*<li class="nav-header hidden-sm hidden-xs">常用菜单
                                            <i class="fa fa-gear" style="color: #868b98; font-size: 12px; margin-top: -6px; position: absolute; right: 23px; top: 50%; cursor: pointer;"></i>
                                        </li>
                                        <li class="common">
                                            <a href="#">
                                                <i class="fa fa-star-o"></i>
                                                <span>联系人</span>
                                            </a>
                                        </li>
                                        <li class="common">
                                            <a href="#">
                                                <i class="fa fa-star-o"></i>
                                                <span>合同</span>
                                            </a>
                                        </li>
                                        <li class="common">
                                            <a href="maps.html">
                                                <i class="fa fa-star-o"></i>
                                                <span>产品</span>
                                            </a>
                                        </li>
                                        <li class="common">
                                            <a href="#">
                                                <i class="fa fa-star-o"></i>
                                                <span>客户</span>
                                            </a>
                                        </li>*@
                                </ul>
                            </div>
                        </div>
                    </section>
                </div>
                <div id="content-wrapper">
                    <div class="hidden-xs hidden-sm" style="float:left;position:absolute;width:1px;height:100%;">
                        <div id="make-small-nav" style="width:7px;height:32px;position:absolute;top:48%;margin-left:0px;opacity:1;background-color:#2c3e50;border-top-right-radius:0.3em;border-bottom-right-radius:0.3em;">
                            <i id="makesmallicon" class="fa fa-caret-left" style="color: white;position:relative;top:8px;margin-left:1px;">
                                @*<img src="~/img/switch_left.png">*@
                            </i>
                        </div>
                    </div>
                    <div class="content-tabs hidden-sm hidden-xs">
                        <button class="roll-nav roll-left tabLeft ">
                            <i class="fa fa-backward"></i>
                        </button>
                        <nav class="page-tabs menuTabs">
                            <div class="page-tabs-content" style="margin-left: 0px;">
                                <a href="javascript:void(0);" class="menuTab active" data-id="/Home/Default">@Localizer["Homepage"]</a>
                                @*<a href="javascript:;" class="menuTab" data-id="/Home/About" style="padding-right: 15px;">平台介绍</a>*@
                            </div>
                        </nav>
                        <button class="roll-nav roll-right tabRight">
                            <i class="fa fa-forward" style="margin-left: 3px;"></i>
                        </button>
                        <div class="btn-group roll-nav roll-right">
                            <button class="dropdown tabClose" data-toggle="dropdown">
                                @Localizer["TabSetting"]<i class="fa fa-caret-down" style="padding-left: 3px;"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a class="tabReload" href="javascript:void(0);">刷新当前</a></li>
                                <li><a class="tabCloseCurrent" href="javascript:void(0);">关闭当前</a></li>
                                <li><a class="tabCloseAll" href="javascript:void(0);">全部关闭</a></li>
                                <li><a class="tabCloseOther" href="javascript:void(0);">除此之外全部关闭</a></li>
                            </ul>
                        </div>
                        <button class="roll-nav roll-right fullscreen"><i class="fa fa-arrows-alt"></i></button>
                    </div>
                    <div class="content-iframe" style="background-color: #f9f9f9; overflow: hidden;">
                        <div class="mainContent" id="content-main" style="margin: 10px; margin-bottom: 0px; padding: 0;">
                            <iframe class="CPK_iframe" width=100% height=100% src="@Url.Action("Default", "Home")" frameborder="0" data-id="/Home/Default"></iframe>
                            @*<iframe class="CPK_iframe" width="100%" height="100%" src="/Home/About" frameborder="0" data-id="/Home/About"></iframe>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="loadingPage" style="display: none;">
        <div class="loading-shade"></div>
        <div class="loading-content" onclick="$.loading(false)">@Localizer["Loading"]</div>
    </div>
    <environment>
        <script src="~/js/index.js"></script>
        <script src="~/js/indextab.js"></script>
        <script src="~/js/loading/pace.min.js"></script>
    </environment>
</body>
</html>
