﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>SPC-@Localizer["SiteTitle"]</title>
    <environment>
        <link href="~/css/framework-font.css" rel="stylesheet" />
        <script src="~/js/vue/vue.min.js"></script>
        <script src="~/js/vue/axios.min.js"></script>
        <link href="~/js/element-UI/index.css" rel="stylesheet" />
        <script src="~/js/element-UI/index.js"></script>
    </environment>
</head>
<body>

<div id="app">
    <el-container style=" position:absolute; left:0; top:0; width:100%;height:100%;border: 1px solid #eee" >
        <el-header style="text-align: right; font-size: 12px;">
            <div style="float:left">
                <a href="@Url.Action("Index","Home")" style="margin-left:14px;vertical-align:middle">
                    <img alt="logo" style="vertical-align:middle;" src="@Url.Content("~/img/Logo.png")" onerror="this.src = '@Url.Content("~/img/Logo.png")'; this.onerror = null" />
                </a>
                <a href="@Url.Action("Index","Home")" style="margin-left:14px;padding-left:14px;border-left:2px #B2B2B2 solid;vertical-align:middle;font-family: RPSEN-1,RPSCN-1,'Microsoft YaHei'; font-size: 20px; color: #404040; text-decoration: none; overflow:hidden;">
                    SPC and CPK Monitor
                </a>
            </div>
            <div style="float:right">
            <el-container>
                @await Html.PartialAsync("_SelectLanguagePartial")
                <el-dropdown type="text" split-button v-on:command="handleCommand" trigger="click" style="margin-left:10px">
                    @CPK.Code.OperatorProvider.Provider.GetCurrent().UserCode
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item command="info">@Localizer["Account"]</el-dropdown-item> 
                        <el-dropdown-item command="logout">@Localizer["Logout"]</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </el-container>
            </div>
        </el-header>
           
    <el-container>
         <!--单个激活-->
            <el-menu
                class="el-menu-vertical-demo"
                background-color="#545c64"
                text-color="#fff"
                active-text-color="#ffd04b" 
                unique-opened
                :collapse="isCollapse"
                v-on:select="openpage">
            <!--动态路由到子组件 将不可见的路径隐藏-->
                <!-- <el-menu-item index="_menuToggle"><i class="fa fa-bars"></i></el-menu-item> -->
                <el-menu-item :index="homepage">
                    <i class="fa fa-home"></i>
                    <span slot="title">@Localizer["HomePage"]</span>
                </el-menu-item>
                <template v-for="item in authorizeMenu" v-if="item.F_EnabledMark">
                    <el-submenu v-if="item.F_IsExpand" width="200px"  :index="!!item.F_UrlAddress?item.F_UrlAddress:item.F_Id">
                        <!--用el ui 的title进行solt分发菜单-->
                        <template slot="title">
                            <i :class="item.F_Icon"></i>
                            <span slot="title">{{(locationCulture.indexOf('en-US')!=-1 && !!item.F_EnglishName)?item.F_EnglishName:item.F_FullName}}</span>
                        </template>
                        <!--item.name和item.children.name来配置菜单栏和子菜单栏的名称-->
                        <el-menu-item v-for="child in item.ChildNodes" :index="child.F_UrlAddress" :key="child.F_Id" v-if="child.F_EnabledMark"> {{(locationCulture.indexOf('en-US')!=-1 && !!child.F_EnglishName)?child.F_EnglishName:child.F_FullName}}</el-menu-item>
                    </el-submenu>
                    <el-menu-item v-if="!item.F_IsExpand" :index="item.F_UrlAddress" :key="item.F_Id">
                        <i :class="item.F_Icon"></i>
                        <span slot="title">{{(locationCulture.indexOf('en-US')!=-1 && !!item.F_EnglishName)?item.F_EnglishName:item.F_FullName}}</span>
                    </el-menu-item>
                </template>
            </el-menu>
            <div style="float:right">
                <div style="width:8px;height:32px;position:absolute;top:48%;margin-left:0px;opacity:1;background-color:#545c64;border-top-right-radius:0.3em;border-bottom-right-radius:0.3em;"  
                    v-on:click="changeToggle">
                        <i :class="toggleicon" style="color: white;position:relative;margin-top:8px;margin-left:1px;"></i>
                </div>
            </div>
        <el-main style="padding:5px">
            <iframe id="iframeMain" name="iframeMain" src="" width="100%" :height="pageheight-60" frameborder="0"></iframe>
        </el-main>
    </el-container>
    </el-container>
</div>

<style>
  .el-header {
    background: linear-gradient(to bottom, #FFF 35%, #F3F3F3 65%);
    color: #333;
    line-height: 50px;
  }
  .el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 200px;
    min-height: 400px;
  }
</style>
<script>
    var clients = {
            dataItems: [],
            organize: [],
            role: [],
            duty: [],
            user: [],
            authorizeMenu: [],
            authorizeButton: []
        };
    topUrl="@Url.Content("~")";
    var app=new Vue({
        el:"#app",
        data:{
            isCollapse:false,
            toggleicon:"fa fa-caret-left",
            homepage:"/Home/Default",
            pageheight:500,
            authorizeMenu:[],
            url:"@Url.Content("~")",
            pagepath:"",
            locationCulture:"zh-CN",
        },
        methods:{
            openpage:function(index,indexPath)
            {
                if(index=="_menuToggle")
                    this.isCollapse=!this.isCollapse;
                else
                    window.open(topUrl+index, 'iframeMain', '')
                    //this.pagepath=index;
            },
            handleCommand(command)
            {
                if(command=="info")
                    window.open("@Url.Content("~/SystemManage/User/Info")", 'iframeMain', '')
                if(command=="logout")
                    top.location.href="@Url.Action("OutLogin", "Login")";
            },
            changeToggle: function()
            {
                this.isCollapse=!this.isCollapse;
                if(this.isCollapse)
                    this.toggleicon="fa fa-caret-right"
                else
                    this.toggleicon="fa fa-caret-left"
            },
        },
        created: function(){
                    var arr, reg = new RegExp("(^| ).AspNetCore.Culture=([^;]*)(;|$)");
                    if (arr = document.cookie.match(reg)) {
                        this.locationCulture = unescape(arr[2]);
                    }

                    this.pageheight=document.documentElement.clientHeight;
                    axios.get(
                                "@Url.Content("~/ClientsData/GetClientsDataJson")",
                                {params:{
                                    
                                }}).then(function(resp)
                            {
                                clients=resp.data;
                                clients.dataItems = resp.data.dataItems;
                                clients.organize = resp.data.organize;
                                clients.role = resp.data.role;
                                clients.duty = resp.data.duty;
                                clients.authorizeMenu = eval(resp.data.authorizeMenu);
                                clients.authorizeButton = resp.data.authorizeButton;
                                app.authorizeMenu = clients.authorizeMenu;
                            });
                    //this.pagepath=this.homepage;
        },
        mounted: function()
        {
            window.open(topUrl+this.homepage, 'iframeMain', '');
        },
    });
</script>    
</body>
</html>
