﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script>
 $(function () {
        $.support.cors = true;
        $('#layout').layout();
        treeView();
        var oTable = new TableInit();
        oTable.Init();
    });
    function treeView() {
        $("#itemTree").treeview({
            url: "@Url.Action("GetTreeJson","ItemsType")",//"/BaseData/ItemsType/GetTreeJson",
            onnodeclick: function (item) {
                //$("#txt_keyword").val('');
                //$('#btn_search').trigger("click");
                $("#txt_keyword").val('')
                $.currentWindow().$("#gridList").bootstrapTable('resetSearch',"");
                $.currentWindow().$("#gridList").bootstrapTable('refreshOptions',
                    {
                        url: "@Url.Action("GetGridJsonTable", "ItemsData")",//"/BaseData/ItemsData/GetGridJsonTable",
                        method: 'get',
                        queryParams: function (params)
                        {
                            return { itemId: $("#itemTree").getCurrentNode().id, keyword: $("#txt_keyword").val() };
                        },
                    });
            }
        });
    }
    var TableInit = function () {

        var oTableInit = new Object();

        /*初始化Table*/

        oTableInit.Init = function () {

            $('#gridList').dataGrid({
                height: $(window).height() - 96,
                //url: '/BaseData/Module/GetTreeGridJson',         //请求后台的URL（*）
                //method: 'get',                      //请求方式（*）
                //toolbar: '#bstoolbar',                //工具按钮用哪个容器
                //striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: false,                   //是否显示分页（*）
                //sortable: true,                     //是否启用排序
                //sortOrder: "asc",                   //排序方式
                //传递参数（*）
                //queryParams: function (params) { return { keyword: params.search }; },
                //showExport: true,                     //是否显示导出
                //exportDataType: "basic",              //basic', 'all', 'selected'.
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                       //初始化加载第一页，默认第一页
                pageSize: 10,                       //每页的记录行数（*）
                pageList: [10, 25],        //可供选择的每页的行数（*）
                //search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                //strictSearch: true,
                //showColumns: false,                  //是否显示所有的列
                //showRefresh: true,                  //是否显示刷新按钮
                //minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
                //height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "F_Id",                     //每一行的唯一标识，一般为主键列
                //showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
                //cardView: false,                    //是否显示详细视图
                //detailView: true,                   //是否显示父子表
                //treeGrid: true,
                //treeGridMainID: "F_Id",
                //treeGridParentID: "F_ParentId",
                sortName: "",
                columns: [
                    { radio: true },
                    { title: "主键", field: "F_Id", align: "center", visible: false },
                    { title: "名称", field: "F_ItemName", align: "left", width: "150" },
                    { title: "编号", field: "F_ItemCode", align: "left", width: "150" },
                    { title: "排序", field: "F_SortCode", align: "center", width: "80" },
                    {
                        title: "默认", field: "F_IsDefault", align: "center", width: "60",
                        formatter: function (value, row, index) {
                            if (value == true) { return "<i class=\"fa fa-toggle-on\"></i>"; }
                            else { return "<i class=\"fa fa-toggle-off\"></i>"; }
                        }
                    },
                    { title: "创建时间", field: "F_CreatorTime", align: "left", width: "80" },
                    {
                        title: "有效", field: "F_EnabledMark", align: "center", width: "60",
                        formatter: function (value, row, index) {
                            if (value == 1) { return "<i class=\"fa fa-toggle-on\"></i>"; }
                            else { return "<i class=\"fa fa-toggle-off\"></i>"; }
                        }
                    },
                    { title: "备注", field: "F_Description", align: "left", width: "300" },
                ]
            });
            $("#btn_search").click(function () {
                $.currentWindow().$("#gridList").bootstrapTable('refresh');
            });
        }
        return oTableInit;
    }

   function btn_add() {
        if (!$("#itemTree") || !$("#itemTree").getCurrentNode()) {
            $.modalAlert("请选择分类！", "warning");
            return false;
        }
        var itemId = $("#itemTree").getCurrentNode().id;
        var itemName = $("#itemTree").getCurrentNode().text;
        if (!itemId) {
            return false;
        }
        $.modalOpen({
            id: "Form",
            title: itemName + " 》新增字典",
            url: "@Url.Content("~/BaseData/ItemsData/Form")?itemId=" + itemId,
            width: "450px",
            height: "350px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_edit() {
        if (!$("#itemTree") || !$("#itemTree").getCurrentNode()) {
            $.modalAlert("请选择分类！", "warning");s
            return false;
        }
        var itemName = $("#itemTree").getCurrentNode().text;
        var keyValue = $("#gridList").bootstrapTable('getSelections')[0].F_Id;
        $.modalOpen({
            id: "Form",
            title: itemName + " 》修改字典",
            url: "@Url.Content("~/BaseData/ItemsData/Form")?keyValue=" + keyValue,
            width: "450px",
            height: "350px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_delete() {
        $.deleteForm({
            url: "@Url.Content("~/BaseData/ItemsData/DeleteForm")",
            param: { keyValue: $("#gridList").bootstrapTable('getSelections')[0].F_Id },
            success: function () {
                //$("#gridList").resetSelection();
                //$("#gridList").trigger("reloadGrid");
                $.currentWindow().$("#gridList").bootstrapTable('refresh');
            }
        })
    }
    function btn_details() {
        var keyValue = $("#gridList").bootstrapTable('getSelections')[0].F_Id;
        $.modalOpen({
            id: "Details",
            title: "查看字典",
            url: "@Url.Content("~/BaseData/ItemsData/Details")?keyValue=" + keyValue,
            width: "450px",
            height: "470px",
            btn: null,
        });
    }
    function btn_itemstype() {
        $.modalOpen({
            id: "ItemsType",
            title: "字典分类",
            url: "@Url.Content("~/BaseData/ItemsType/Index")",
            width: "800px",
            height: "550px",
            btn: null,
        });
    }
</script>
<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-west">
        <div id="itemTree"></div>
    </div>
    <div class="ui-layout-center">
        <div class="topPanel">
            <div class="toolbar">
                <div class="btn-group">
                    <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
                </div>
                <div class="btn-group">
                    <a id="NF-add" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>新建字典</a>
                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                    <ul class="dropdown-menu pull-right">
                        <li><a id="NF-itemstype" authorize="yes" onclick="btn_itemstype()" href="javascript:void()">分类管理</a></li>
                    </ul>
                </div>
                <div class="operate">
                    <ul class="nav nav-pills">
                        <li class="first">已选中<span>1</span>项</li>
                        <li><a id="NF-edit" authorize="yes" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>修改字典</a></li>
                        <li><a id="NF-delete" authorize="yes" onclick="btn_delete()"><i class="fa fa-trash-o"></i>删除字典</a></li>
                        <li><a id="NF-Details" authorize="yes" onclick="btn_details()"><i class="fa fa-search-plus"></i>查看字典</a></li>
                    </ul>
                    <a href="javascript:;" class="close"></a>
                </div>
                <script>$('.toolbar').authorizeButton()</script>
            </div>
            <div class="search">
                <table>
                    <tr>
                        <td>
                            <div class="input-group">
                                <input id="txt_keyword" type="text" class="form-control" placeholder="名称/编号" style="width: 200px;">
                                <span class="input-group-btn">
                                    <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="gridPanel">
            <table id="gridList"></table>
        </div>
    </div>
</div>
