@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_VueForm.cshtml";
}
<div id="app">
    <el-form :model="datasource_mdcs" label-width="125px" v-loading="loading"> 
        <el-form-item label="连接字符串">
            <el-input v-model="datasource_mdcs.F_ConnectString" placeholder="请输入" />
        </el-form-item>
        <el-form-item label="MDCS线别">
            <el-select class="form-control required" v-model="datasource_mdcs.F_Line" v-on:change="loadDevice">
                <el-option v-for="item in linelist" :key="item.LineName" :label="item.LineName" :value="item.LineName" ></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="MDCS设备">
            <el-select v-model="datasource_mdcs.F_Device" v-on:change="loadVariable">
                <el-option v-for="item in devicelist" :key="item.DeviceID" :label="item.Name" :value="item.DeviceID" ></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="MDCS变量">
            <el-select v-model="datasource_mdcs.F_Variable">
                <el-option v-for="item in variablelist"  :key="item.VarID" :label="item.Name" :value="item.VarID" ></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="有效标志">
            <el-switch v-model="datasource_mdcs.F_EnabledMark">有效</el-switch>
        </el-form-item>
        <!-- <el-form-item>
            <el-button type="primary" v-on:click="submitForm">立即创建</el-button>
            <el-button>取消</el-button>
        </el-form-item> -->
    </el-form>
</div>
<script>
    var app= new Vue(
        {
            el: '#app',
            data:
            {
                keyValue:"",
                datasource_mdcs:{
                    F_ConnectString:"",
                    F_Line:"",
                    F_Device:"",
                    F_Variable:"",
                    F_EnabledMark:true,
                },
                linelist:[],
                devicelist:[],
                variablelist:[],
            },
            methods:{
                submitForm: function(){
                    this._submitForm({
                        url:"@Url.Content("~/ProductManage/DataSource_MDCS/SubmitForm")?keyValue=" + this.keyValue,
                        param:this.datasource_mdcs,
                        success: function(resp){
                            app.$message({
                                message: '提交成功',
                                type: 'success'
                            });
                            var index = top.layer.getFrameIndex(window.name);
                            top.layer.close(index);
                        }
                    })
                },
                loadDefaultConnstr: function() {
                    axios.get(
                                "@Url.Action("GetDefualtConnectStirng", "DataSource_MDCS")",
                                {params:{
                                    keyValue:this.keyValue,
                                }}).then(function(resp)
                            {
                                app.datasource_mdcs.F_ConnectString=resp.data.ConnString;
                                app.loadLine();
                            });
                },
                loadLine: function(){
                     axios.get(
                        "@Url.Action("GetLines", "DataSource_MDCS")",
                        {params:{
                            ConnString: this.datasource_mdcs.F_ConnectString,
                        }}).then(function(resp)
                        {
                            app.linelist=resp.data;
                            app.loadDevice();
                        });
                },
                loadDevice: function()
                {
                    if(!!this.datasource_mdcs.F_Line)
                    {
                        axios.get(
                        "@Url.Action("GetDevices", "DataSource_MDCS")",
                        {params:{
                            ConnString: this.datasource_mdcs.F_ConnectString,
                            LineName: this.datasource_mdcs.F_Line,
                        }}).then(function(resp)
                        {
                            app.devicelist=resp.data;;
                            app.loadVariable();
                        });
                    }else
                    {
                        app.devicelist=[];
                        app.variablelist=[];
                    }
                },
                loadVariable: function()
                {
                     if(!!this.datasource_mdcs.F_Device)
                    {
                        axios.get(
                            "@Url.Action("GetVarriables", "DataSource_MDCS")",
                            {params:{
                                ConnString:  this.datasource_mdcs.F_ConnectString,
                                DeviceID: this.datasource_mdcs.F_Device
                            }}).then(function(resp)
                            {
                                app.variablelist=resp.data;
                            });
                    }else
                    {
                        app.variablelist=[];
                    }
                }
            },
            created: function() { 
               this.keyValue=this._getUrlParam("keyValue");
               if(!this.keyValue)
               {
                    this.loadDefaultConnstr();
               }else{
                axios.get(
                        '@Url.Action("GetFormJson", "DataSource_MDCS")',
                        {params:{
                            keyValue:this.keyValue,
                        }}).then(function(resp)
                    {
                        resp.data.F_Device=parseInt(resp.data.F_Device);
                        resp.data.F_Variable=parseInt(resp.data.F_Variable);
                        app.datasource_mdcs=resp.data;
                        if(!app.datasource_mdcs.F_ConnectString)
                        {
                            app.loadDefaultConnstr();
                        }else
                        {
                            app.loadLine();
                        }
                    });
                }
            },
            
        }
    )
</script>
