@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "@Url.Action("GetFormJson", "DataSource_MDCS")",//,
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                cache: false,
                success: function (data) {
                    $("#F_ConnectString").val(data.F_ConnectString);
                    loadSelect();
                    $("#form1").formSerialize(data);
                }
            });
        }else
        {
            loadSelect();                  
        }

    });

    function initControl() {

    }
    function loadSelect()
    {
            var connString = $("#F_ConnectString").val();
            if(!connString)
            {
                $.ajax({
                    url: "@Url.Action("GetDefualtConnectStirng", "DataSource_MDCS")",//,
                    data: { keyValue: keyValue },
                    dataType: "json",
                    async: false,
                    cache: false,
                    success: function (data) {
                        connString = data.ConnString;
                        $("#F_ConnectString").val(connString);
                    }
                });
            }
            var line= $("#F_Line").val();
            var Device= $("#F_Device").val();
            loadLine(connString);
            loadDevice(connString,line);
            loadVariable(connString,Device);


    }
    function loadLine(connString)
    {
        $("#F_Line").empty();
        $("#F_Line").bindSelect({
                url: "@Url.Action("GetLines", "DataSource_MDCS")",
                param: { ConnString: connString },
                id: 'LineName',
                text: 'LineName',
                change : function(selectIndex) {
                    var connString = $("#F_ConnectString").val();
                    loadDevice(connString,$("#F_Line").val());
                }
        });
    }
    function loadDevice(connString,line)
    {
        $("#F_Device").empty();
        $("#F_Device").bindSelect({
                url: "@Url.Action("GetDevices", "DataSource_MDCS")",
                param: { ConnString: connString , LineName: line   },
                id: 'DeviceID',
                text: 'Name',
                change : function(selectIndex) {
                    var connString = $("#F_ConnectString").val();
                    loadVariable(connString,$("#F_Device").val());
                }
            });
    }
    function loadVariable(connString,Device)
    {
        $("#F_Variable").empty();
        $("#F_Variable").bindSelect({
                url: "@Url.Action("GetVarriables", "DataSource_MDCS")",
                param: { ConnString: connString , DeviceID : Device },
                id: 'VarID',
                text: 'Name'
            });
    }
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "@Url.Content("~/ProductManage/DataSource_MDCS/SubmitForm")?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                //$.currentWindow().$("#gridList").resetSelection();
                //$.currentWindow().$("#gridList").trigger("reloadGrid");
                $.currentWindow().$("#gridList").bootstrapTable('refresh');
                $.loading(false);
            }
        })
    }
</script>

<form id="form1">
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
            <tr>
<th class="formTitle" valign="top" style="padding-top: 5px; ">连接字符串</th > 
<td class="formValue"><input id = "F_ConnectString" name = "F_ConnectString" type = "text" class="form-control required" placeholder="请输入" /></td>
</tr>
<tr>
    <th class="formTitle" valign="top" style="padding-top: 5px; ">MDCS线别</th > 
    <td class="formValue">
        <select id = "F_Line" name = "F_Line" class="form-control required">
        </select>
    </td>
</tr>
<tr>
<th class="formTitle" valign="top" style="padding-top: 5px; ">MDCS设备</th > 
    <td class="formValue">
        <select id = "F_Device" name = "F_Device" class="form-control required">
        </select>
    </td>
</tr>
<tr>
<th class="formTitle" valign="top" style="padding-top: 5px; ">MDCS变量</th > 
     <td class="formValue">
        <select id = "F_Variable" name = "F_Variable" class="form-control required">
        </select>
    </td>
</tr>
<tr>
<th class="formTitle" valign="top" style="padding-top: 5px; ">有效标志</th > 
    <td class="formValue">
        <div class="ckbox">
            <input id="F_EnabledMark" name="F_EnabledMark" type="checkbox" checked="checked"><label for="F_EnabledMark">有效</label>
        </div>
    </td>
</tr>

        </table>
    </div>
</form>
