@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_VueForm.cshtml";
}
<div id='app'>
    <el-container>
        <el-header style="text-align:right;height:45px">
            <span style="float:left">
                <el-input v-model="keyword" placeholder="@Localizer["PleaseInput"]" style="width:200px" clearable></el-input>
                <el-button icon="el-icon-search" circle v-on:click="refresh"></el-button>
            </span>
            <el-button icon="el-icon-plus" type="primary" circle v-on:click="addItem"></el-button>
            <el-button icon="el-icon-download" type="primary" circle v-on:click="exportExcel"></el-button>

            <el-button icon="el-icon-edit" type="success" circle v-on:click="editItem"></el-button>
            <el-button icon="el-icon-delete" type="danger" circle v-on:click="deleteItem"></el-button>
        </el-header>
    
    <el-main style="padding-bottom:5px;padding-top:5px">
        <el-table
                  id="datasourcetable"
            ref="singleTable"
            :data="tableData"
            :height="tableHeight"
            highlight-current-row
            v-on:current-change="handleCurrentChange"
            style="width: 100%;"
            v-loading="loading">
            <el-table-column type="index" width="50"></el-table-column>
            <el-table-column property="F_ConnectString" label="@Localizer["Connectstring"]" width="130" :show-overflow-tooltip="true"></el-table-column>
            <el-table-column property="F_Line" label="@Localizer["LineName"]"  width="100" ></el-table-column>
            <el-table-column property="F_Device" label="@Localizer["DeviceID"]" width="130"></el-table-column>
            <el-table-column property="DeviceName" label="@Localizer["DeviceName"]" width="230"></el-table-column>
            <el-table-column property="F_Variable" label="@Localizer["VarID"]" width="130"></el-table-column>
            <el-table-column property="VariableName" label="@Localizer["VariableName"]" width="200"></el-table-column>
            <el-table-column property="F_MCF" label="@Localizer["MCFNumber"]" width="150"></el-table-column>
            <el-table-column property="F_BoardType" label="@Localizer["BoardType"]" width="100"></el-table-column>
            <el-table-column property="F_EnabledMark" label="@Localizer["Enabled"]" width="60">
                <template slot-scope="scope">
                    <el-switch size="samll" v-model="scope.row.F_EnabledMark" disabled="disabled"></el-switch>
                </template>
            </el-table-column>
            <el-table-column property="F_CreatorTime" label="@Localizer["CreatedTime"]" width="200"></el-table-column>
            <el-table-column property="F_CreatorUserName" label="@Localizer["Creator"]" width="100"></el-table-column>

        </el-table>

        <el-dialog :title="formtitle" :visible.sync="dialogFormVisible" :fullscreen="true" v-loading="dialogloading" v-on:open="dialogloading=true" v-on:opened="formload" >
                <el-form :model="datasource_mdcs" label-width="100px" ref="datasource_mdcs" :rules="rules"> 
                    <el-form-item label="@Localizer["Connectstring"]" prop="F_ConnectString">
                        <el-input v-model="datasource_mdcs.F_ConnectString" size="small" placeholder="@Localizer["PleaseInput"]" />
                    </el-form-item>
                    <el-form-item label="@Localizer["LineName"]" prop="F_Line">
                        <el-select size="small" v-model="datasource_mdcs.F_Line" v-on:change="loadDevice">
                            <el-option v-for="item in linelist" :key="item.LineName" :label="item.LineName" :value="item.LineName" ></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="@Localizer["DeviceName"]" prop="F_Device">
                        <el-select size="small" v-model="datasource_mdcs.F_Device" v-on:change="loadVariable">
                            <el-option v-for="item in devicelist" :key="item.DeviceID" :label="item.Name" :value="item.DeviceID" ></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="@Localizer["VariableName"]" prop="F_Variable">
                        <el-select size="small" v-model="datasource_mdcs.F_Variable">
                            <el-option v-for="item in variablelist"  :key="item.VarID" :label="item.Name" :value="item.VarID" ></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="@Localizer["MCFNumber"]" prop="F_MCF">
                        <el-input v-model="datasource_mdcs.F_MCF" size="small" placeholder="@Localizer["PleaseInput"]" />
                    </el-form-item>
                    <el-form-item label="@Localizer["BoardType"]" prop="F_BoardType">
                        <el-input v-model="datasource_mdcs.F_BoardType" size="small" placeholder="@Localizer["PleaseInput"]" />
                    </el-form-item>
                    <el-form-item label="@Localizer["Enabled"]" prop="F_EnabledMark">
                        <el-switch size="small" v-model="datasource_mdcs.F_EnabledMark">@Localizer["Enabled"]</el-switch>
                    </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button v-on:click="dialogFormVisible = false">@Localizer["Cancel"]</el-button>
                    <el-button type="primary" v-on:click="submitForm">@Localizer["OK"]</el-button>
                </div>
        </el-dialog>
    </el-main>
  </el-container>



</div>
<script>
    var that = this;
    var app=new Vue(
        {
            el: "#app",
            data:{
                keyword:"",
                tableHeight:600,
                tableData:[],
                loading:true,
                formtitle:"",
                dialogFormVisible:false,
                keyValue:"",
                datasource_mdcs:{
                    F_ConnectString:"",
                    F_Line:"",
                    F_Device:"",
                    F_Variable:"",
                    F_MCF:"",
                    F_BoardType:"",
                    F_EnabledMark:true,
                },
                rules:{
                    F_ConnectString:{ required: true, message: '@Localizer["PleaseInput"]@Localizer["Connectstring"]', trigger: 'blur' },
                    F_Line:{ required: true, message: '@Localizer["PleaseSelect"]@Localizer["LineName"]', trigger: 'change' },
                    F_Device:{ required: true, message: '@Localizer["PleaseSelect"]@Localizer["DeviceName"]', trigger: 'change' },
                    F_Variable:{ required: true, message: '@Localizer["PleaseSelect"]@Localizer["VariableName"]', trigger: 'change' },
                    F_MCF:{ required: false,  },
                    F_BoardType:{ required: false,  },
                    F_EnabledMark:{ required: true, },
                },
                linelist:[],
                devicelist:[],
                variablelist:[],
                dialogloading:true,
            },
            methods:{
                setCurrent(row) {
                    this.$refs.singleTable.setCurrentRow(row);
                },
                handleCurrentChange(val) {
                    this.currentRow = val;
                },
                refresh: function(){
                    this.loading=true;
                    axios.get(
                            "@Url.Action("GetGridJson", "DataSource_MDCS")",
                            {params:{
                                keyword:  this.keyword,
                            }}).then(function(resp)
                            {
                                app.tableData=resp.data.rows;
                                app.loading=false;
                            });
                },
                addItem: function(){
                    this.formtitle="@Localizer["Add"]";
                    this.keyValue="";
                    this.dialogFormVisible=true;
                },
                editItem: function(){
                    if(!!this.currentRow)
                    {
                        this.formtitle="@Localizer["Edit"]";
                        this.keyValue=this.currentRow.F_Id;
                        this.dialogFormVisible=true;
                    }
                },
                deleteItem: function(){
                    this.$confirm('@Localizer["Confirm"] @Localizer["Delete"]?')
                        .then(_ => {
                            if(!!this.currentRow)
                            {
                                this._submitForm({
                                    url:"@Url.Content("~/ProductManage/DataSource_MDCS/DeleteForm")?keyValue=" + this.currentRow.F_Id,
                                    param:{},
                                    success: function(resp){
                                        app.$message({
                                            message: '@Localizer["Delete"] @Localizer["Success"]',
                                            type: 'success'
                                        });
                                        app.refresh();
                                    }
                                })
                            }
                        })
                        .catch(_ => {});
                },
                submitForm: function(){
                    this.$refs["datasource_mdcs"].validate(function(valid){
                        if(valid)
                        {
                            app._submitForm({
                                url:"@Url.Content("~/ProductManage/DataSource_MDCS/SubmitForm")?keyValue=" + app.keyValue,
                                param:app.datasource_mdcs,
                                success: function(resp){
                                    app.$message({
                                        message: '@Localizer["Submit"] @Localizer["Success"]',
                                        type: 'success'
                                    });
                                    app.dialogFormVisible=false;
                                    app.refresh();
                                    return true;
                                }
                            });
                        }else
                        {
                            app.$message({
                                message: '@Localizer["PleaseCheckData"]',
                                type: 'error'
                            });
                            return false;
                        }
                    });
                },
                loadDefaultConnstr: function() {
                        axios.get(
                                "@Url.Action("GetDefualtConnectStirng", "DataSource_MDCS")",
                                {params:{
                                    keyValue:this.keyValue,
                                }}).then(function(resp)
                            {
                                app.datasource_mdcs.F_ConnectString=resp.data.ConnString;
                                app.loadLine();
                            });
                },
                loadLine: function(){
                     axios.get(
                        "@Url.Action("GetLines", "DataSource_MDCS")",
                        {params:{
                            ConnString: this.datasource_mdcs.F_ConnectString,
                        }}).then(function(resp)
                        {
                            app.linelist=resp.data;
                            app.loadDevice();
                        });
                },
                loadDevice: function()
                {
                    if(!!this.datasource_mdcs.F_Line)
                    {
                        axios.get(
                        "@Url.Action("GetDevices", "DataSource_MDCS")",
                        {params:{
                            ConnString: this.datasource_mdcs.F_ConnectString,
                            LineName: this.datasource_mdcs.F_Line,
                        }}).then(function(resp)
                        {
                            app.devicelist=resp.data;;
                            app.loadVariable();
                        });
                    }else
                    {
                        app.devicelist=[];
                        app.variablelist=[];
                    }
                },
                loadVariable: function()
                {
                     if(!!this.datasource_mdcs.F_Device)
                    {
                        axios.get(
                            "@Url.Action("GetVarriables", "DataSource_MDCS")",
                            {params:{
                                ConnString:  this.datasource_mdcs.F_ConnectString,
                                DeviceID: this.datasource_mdcs.F_Device
                            }}).then(function(resp)
                            {
                                app.variablelist=resp.data;
                            });
                    }else
                    {
                        app.variablelist=[];
                    }
                },
                formload:function() {
                    this.$refs["datasource_mdcs"].resetFields();
                    if(!this.keyValue)
                    {
                        this.loadDefaultConnstr();
                        this.dialogloading=false;
                    }else{
                        axios.get(
                                '@Url.Action("GetFormJson", "DataSource_MDCS")',
                                {params:{
                                    keyValue:this.keyValue,
                                }}).then(function(resp)
                            {
                                resp.data.F_Device=parseInt(resp.data.F_Device);
                                resp.data.F_Variable=parseInt(resp.data.F_Variable);
                                app.datasource_mdcs=resp.data;
                                if(!resp.data.F_MCFe=='null')
                                    app.datasource_mdcs.F_MCF="";
                                if(resp.data.F_BoardType=='null')
                                    app.datasource_mdcs.F_BoardType="";
                                if(!app.datasource_mdcs.F_ConnectString)
                                {
                                    app.loadDefaultConnstr();
                                }else
                                {
                                    app.loadLine();
                                }
                                app.dialogloading=false;
                            });
                        }
                },
                exportExcel() { 
                    /* generate workbook object from table */
                    var wb = XLSX.utils.table_to_book(document.querySelector('#datasourcetable'))
                    /* get binary string as output */
                    var wbout = XLSX.write(wb, { bookType: 'xlsx', bookSST: true, type: 'array' })
                    try {
                        //var FileSaver = require('file-saver');
                        that.saveAs(new Blob([wbout], { type: 'application/octet-stream' }), 'Datasourcesheetjs.xlsx')
                    } catch (e) { if (typeof console !== 'undefined') console.log(e, wbout) }
                    return wbout
                }

            },
            created: function(){
                this.refresh();
                this.tableHeight=document.documentElement.clientHeight-95;
            },
        }
    )
</script>


